<div class="step2">
    <form id="formstep2">
    <h1>{{databaseInfoLabel}}</h1>
    <div class="form_line_l">
        <div id="database_data">

        {{ Form_getTextfield(dbHostLabel, 'db_host', 'dbHost', 255, setValues.dbHost ?? dbConfig.dbHost) }}
        {{ Form_getTextfield(dbNameLabel, 'db_name', 'dbName', 255, setValues.dbName ?? dbConfig.dbName) }}
        {{ Form_getTextfield(dbUsernameLabel, 'db_user', 'dbUser', 255, setValues.dbUser ?? dbConfig.dbUser) }}
        {{ Form_getPassword(dbPassLabel, 'db_pass', 'dbPass', 255) }}
        </div>
     
    </div>
    </form>
</div>




