<h1>{{ adminInfoLabel }}</h1>

{{ Form_getTextfield(adminUserLabel, 'admin_user', 'admin_user', 255, adminUser) }}
{{ Form_getTextfield(adminNameLabel, 'admin_firstname', 'admin_name', 255, adminName) }}
{{ Form_getTextfield(adminSurnameLabel, 'admin_lastname', 'admin_lastname', 255, adminLastname) }}
{{ Form_getPassword(adminPasswordLabel, 'admin_pass', 'admin_password', 255) }}
{{ Form_getPassword(adminConfirmationPasswordLabel, 'admin_confpass', 'admin_confpass', 255) }}
{{ Form_getTextfield(adminEmailLabel, 'admin_email', 'admin_email', 255, adminEmail) }}



<h1>{{ langInstallLabel }}</h1>
<ul class="lang_to_install_list">
        {% set languages = languages|slice(start + 1, length) %}
        {% for code, language in languages %}
            <li> {{ Form_getCheckbox(language, 'lang_' ~ code, 'lang_install['~  code ~ ']', 1,setLang == code ? '1' : '0' ) }} </li>
        {% endfor %}
</ul>
