{% if items.data.length > 0 %}
    <ul class="folderView__ul js-sortable-view">
        {% for el in items.data %}
            <li data-id="{{ el.id }}"
                class="folderView__li is-droppable {% if el.description %}has-tooltip{% endif %} {% if el.type %}js-folderView-file{% else %}js-folderView-folder is-dropzone{% endif %} {% if el.locked %}fv-is-locked{% endif %}">
                <div data-id="{{ el.id }}"
                     class="folderView__el {% if el.type %}fv-is-{{ el.type }}{% else %}fv-is-folder{% endif %}"
                     style="background-image:url('{{ Utils_getImage("folderView", "icon-" ~ el.image_type ~ ".svg", "icon-" ~ el.type ~ ".svg") }}')">
                    <span class="folderView__label">
                        {{ el.title }}
                        {% if el.description %}
                            <div class="tooltip-div">{{ el.description }}</div>
                        {% endif %}
                    </span>
                </div>
                <div class="actions-wrapper">
                <div class="folderView__visibleActions" {% if isStudent %}style="right: 0;"{% endif %}>
                    {% if el.visible_actions | length %}
                        {% for action in el.visible_actions %}
                            {% if action.type == 'submit' %}
                                <button type="submit"
                                       id="{{ action.content }}"
                                       name="{{ action.content }}"
                                       class="folderView__action fv-is-{{ action.name }} js-fv-action"
                                       title="{{ action.label }}"
                                       value=""/>
                            {% elseif (action.type == 'link') %}
                                <a href="{{ action.content }}" class="folderView__action {% if action.directPlay %}direct-play{% endif %} fv-is-{{ action.name }}" title="{{ action.label }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if el.status %}
                        <a class="folderView__status fv-is-{{ el.status }}" title="{{ el.status_label }}"></a>
                    {% endif %}
                </div>
                </div>
                {% if el.actions.length %}
                <div class="actions-wrapper" {% if isStudent %}style="z-index: -1"{% endif %}>
                    {% if not isStudent %}
                        <div class="folderView__buttons">
                            <button type="button" class="folderView__button fv-is-menu-open js-fv-open-actions"></button>
                        </div>
                    {% endif %}
                    <div class="folderView__actions">
                        {% for action in el.actions %}
                            {% if not isStudent %}
                                {% if action.name == 'copy' %}
                                    <button type="button" class="folderView__button fv-is-{{ action.name }} js-fv-open-overlay" title="{{ action.label }}"></button>
                                {% else %}
                                    {% if action.type == 'submit' %}
                                        <button type="submit"
                                            id="{{ action.content }}"
                                            name="{{ action.content }}"
                                            class="folderView__action fv-is-{{ action.name }} js-fv-action"
                                            title="{{ action.label }}"
                                            value=""/>
                                    {% elseif (action.type == 'link') %}
                                        <a href="{{ action.content }}" class="folderView__action fv-is-{{ action.name }}" title="{{ action.label }}">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if action.name == 'play' and isStudent %}
                                    <a href="{{ action.content }}" class="folderView__action fv-is-{{ action.name }}" title="{{ action.label }}"></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if not isStudent %}
                            <button type="button" class="folderView__action fv-is-menu-close js-fv-close-actions"></button>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="text-center">{{ Lang_translate('_LEARNING_OBJECTS_NOT_FOUND','course') }}</div>
{% endif %}
