{% if data.length > 0 %}
    <ul class="folderView__ul js-sortable-view js-folder-tree-view">
        {% for el in data %}
            <li id="{{ el.id }}" data-id="{{ el.id }}" class="folderView__li {% if el.type %}is-file{% else %}is-dropzone{% endif %} js-fv-select-el">
                <div id="{{ el.id }}" class="folderView__el {% if el.type %}fv-is-{{ el.type }}{% else %}fv-is-folder{% endif %}">
                    <span class="folderView__label">{{ el.title }}</span>
                </div>
                {% if el.actions %}
                    {% set types = ['access','delete','properties','play','show_results','edit','copy'] %}
                    <div class="folderView__actions">
                        {% for key, action in el.actions %}
                            {% if key in types %}
                                {% if action.link | length %}
                                    <input type="submit"
                                           id="{{ action.link }}"
                                           name="{{ action.link }}"
                                           class="folderView__action fv-is-{{ key }} js-fv-action"
                                           title="{{ key }}"
                                           value=""/>
                                {% elseif (action.url | length) %}
                                    <a href="{{ action.url }}" class="folderView__action fv-is-{{ key }}" title="{{ key }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="text-center">Nessun elemento presente</div>
{% endif %}
