
{% import _self as macros %}
{% macro tree_links(data) %}
    {% import _self as macros %}
    {% for el in data %}
        <li data-id="{{ el.id }}" class="folderTree__li {% if el.children %}ft-is-parent{% endif %} is-droppable" 
            draggable="true">
            {% if el.children.length > 0 %}
                <span class="arrow"></span>
            {% endif %}
            <button data-id="{{ el.id }}"
                type="button"
                class="folderTree__link ft-is-folder {% if el.children.length > 0 %}ft-has-child{% endif %} is-dropzone">
                <span>{{ el.name }}</span>
            </button>
            {% if extra and extra.form %}
                {{ macros.input('ok') }}
            {% endif %}
            {% if el.children %}
                <ul class="folderTree__ul js-sortable-tree hidden">
                    {{ macros.tree_links(el.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{{ macros.tree_links(data) }}
