{% extends "Base/base.html.twig" %}

{% block content %}
  {#courses#}
  <div class="d-col d-col--12 d-col--3--desktop">
    <div class="d-courses d-widget">
      <h3 class="d-title">
        {{ translate('_COURSES','standard') }}
      </h3>
      {% for course in block.courses %}
        {% if status > 0 %}
          {% set status_class = 'green' %}
        {% else %}
          {% set status_class = 'red' %}
        {% endif %}

        <a class="d-courses__item has-icon--{{ course.type }}" target="_self" href="/">
          <div class="d-courses__img-wrapper">
            <img class="d-courses__img" src="https://via.placeholder.com/130x85"/>
          </div>
          <div class="d-courses__content-wrapper">
            <div class="d-course__title">
              {{ course.title }}
            </div>
            <div class="d-courses__date-wrapper status--{{ status_class }}">
              {% if course.start != '00-00-0000' %}
                <span class="d-courses__date d-courses__date--start">
                  {{ course.start }}
                  11/22/1234
                </span>
                {% if course.end != '00-00-0000' %}
                  <span class="d-courses__date d-courses__date--end">
                    {{ course.end }}
                    11/22/1234
                  </span>
                {% endif %}
              {% endif %}
            </div>
            <div class="d-courses__next-course">
              11/22/1234
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{# 
   <pre>
    {{ dump(block.courses) }}
  </pre>  #}
{% endblock %}