
<form id="import_diff">
    <table class="table table-bordered display" style="width:100%" id="langdiff"></table>
    <button id="translate-btn" class="button btn btn-danger dahsboard__button--save js-save-block" type="submit">
        <i class="fa fa-spinner fa-spin"></i>
        {{ Lang_translate('_TRANSLATELANG', 'admin_lang') }}
    </button>
</form>

</div>

<script>
    $(function () {
        var body = {{ body | json_encode(constant('JSON_HEX_APOS')) | raw }};

        var columns = [
            {data: 'id', title: '{{ Lang_translate('_ID', 'standard') }}', sortable: true},
            {data: 'text_module', title: '{{ Lang_translate('_MODULE', 'standard') }}', sortable: true},
            {data: 'text_key', title: '{{ Lang_translate('_KEY', 'standard') }}', sortable: true},
            {data: 'plugin_name', title: '{{ Lang_translate('_PLUGIN', 'standard') }}', sortable: true},
            {data: 'translation_text', title: '{{ Lang_translate('_TRANSLATION', 'standard') }}', sortable: true},
            {data: 'translation_text_diff', title: '{{ Lang_translate('_CORE_TRANSLATION', 'standard') }}', sortable: true}
        ];
        var rows = [];

        body.forEach(function (item, k) {
            rows.push(Object.assign({}, item));
        });

        var t = $('#langdiff').FormaTable({
            rowId: function (row) {
                return row[0];
            },  // cambia
            scrollX: true,
            processing: true,
            serverSide: false,
            paging: true,
            searching: true,
            columns,
            data: rows,
            dom: 'Bfrtip',
            stateSave: true,
            deferRender: true,
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi',
                'all': true
            },
        });
        $("#translate-btn .fa-spin").hide();
        $("#translate-btn").attr("disabled", true);

        var params = [];

        $("#langdiff .select-checkbox, .buttons-select-all, .buttons-select-none").click(function(e) {
            setTimeout(function() {
                if ($("#langdiff tr.selected").length > 0) {
                    $("#translate-btn").attr("disabled", false);
                } else {
                    $("#translate-btn").attr("disabled", true);
                }
            }, 100);
        });

        $('#import_diff').on('submit', function(e) {
            e.preventDefault();

            if (!$("#langdiff tr.selected").length) {
                return;
            }
            params = [];

            $(".table tr.selected").each(function(item) {
                var idText = $(this).find("td:nth-child(2)").html();
                var key = $(this).find("td:nth-child(4)").html();
                var plugin = $(this).find("td:nth-child(5)").html();
                var translation = $(this).find("td:nth-child(7)").html();

                params.push({
                    idText,
                    langCode: '{{ langCode }}',
                    key,
                    plugin,
                    translation
                });
            });

            $("#translate-btn .fa-spin").show();
            $("#translate-btn").attr("disabled", true);

            $.ajax({
                type: 'POST',
                url: 'ajax.adm_server.php?r=adm/lang/saveDiff',
                data: { langKeys: params },
                success: function(data) {
                    var list = JSON.parse(data);

                    list.forEach(function(item) {
                        $("#langdiff tr.selected").each(function(row) {
                            var rowId = $(this).find("td:nth-child(2)").html();
                            if (rowId == item.langKey.idText && item.success) {
                                $(this).removeClass('selected');
                                $(this).find("td:first-child").removeClass('select-checkbox').html('\
                                    <i class="fa fa-check" style="color: green;font-size: 2rem; display: block; text-align: center;"></i>\
                                ');
                            }
                        });
                    });
                    $("#translate-btn .fa-spin").hide();
                    $("#translate-btn").attr("disabled", false);
                }
            });
        });
    });
</script>