{{ Get_title({
    'index.php?r=adm/lang/show' : translate('_LANGUAGE', 'admin_lang'),
    '':translate('_IMPORT', 'admin_lang')
},false) }}
<div class="container">
    <div class="row">
        <div class="col d-col--6--desktop">
            {{ Form_openForm('import_lang', 'index.php?r=adm/lang/doimport', false, 'post', 'multipart/form-data') }}

            {{ Form_getFilefield(translate('_FILE', 'admin_lang'), 'lang_file', 'lang_file') }}

            {{ Form_getCheckbox(translate('_OVERWRITE_EXISTENT', 'admin_lang'), 'overwrite', 'overwrite', '1') }}
            {{ Form_getCheckbox(translate('_DO_NOT_ADD_MISS', 'admin_lang'), 'noadd_miss', 'noadd_miss', '1') }}

            {{ Form_openButtonSpace() }}
            {{ Form_getButton('save', 'save', translate('_SAVE', 'admin_lang')) }}
            {{ Form_getButton('undo', 'undo', translate('_UNDO', 'admin_lang')) }}
            {{ Form_closeButtonSpace() }}

            {{ Form_closeForm() }}
        </div>
    </div>
</div>