<div class="std_block">
    <div class="container">
        {% set courseUrl = 'index.php?r=' ~ courseBaseLink ~ '/show' %}

        {% set classUrl = 'index.php?r=' ~ classroomBaseLink ~ '/classroom&id_course=' ~ idCourse %}


        {% set title = Lang_translate('_MOD_DATES', 'course') ~ ': ' ~ postData.name %}

        {% if postdata.dateBegin is not empty %}
            {% set title = title ~ ' (' ~ postData.dateBegin ~ ')' %}
        {% endif %}

        {{ Get_title(
            {
                (courseUrl) : Lang_translate('_COURSE', 'course'),
                (classUrl) : Lang_translate('_CLASSROOM', 'course'),
                '': title
            },false) }}

        {% if error %}
            {% set errorTranslate = Lang_translate((error), 'course') %}
            {{ UiFeedback_error(errorTranslate) }}
        {% endif %}

        {{ Form_openForm('date', action ) }}
        {{ Form_openElementSpace() }}







        <div class="edit-classroom-dates">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Ora inizio</th>
                    <th scope="col">Ora fine</th>
                    <th scope="col">Ora inizio pausa</th>
                    <th scope="col">Ora fine pausa</th>
                    <th scope="col">Classe</th>
                </tr>
                </thead>
                <tbody>
                {% for day in postData.days %}

                    <tr data-date="{{ day.date }}" data-date_begin="{{ day.date_begin }}" data-date_end="{{ day.date_end }}" data-pause_begin="{{ day.pause_begin }}" data-pause_end="{{ day.pause_end }}" data-classroom="{{ day.classroom }}">
                        <th scope="row">{{ day.date }}</th>
                        <td>{{ day.date_begin|date("H:i") }}</td>
                        <td>{{ day.date_end|date("H:i") }}</td>
                        <td>{{ day.pause_begin|date("H:i") }}</td>
                        <td>{{ day.pause_end|date("H:i") }}</td>
                        <td>{{ day.classroom }}</td>
                        <td><a class="js-edit" href="javascript:void(0)" >Edit</a></td>
                        <td>Delete</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>


        <div class="add-classroom-dates">
            <div class="form-group">
                <label for="exampleFormControlFile1">Date</label>
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Ora inizio</label>
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Ora fine</label>
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Ora inizio pausa</label>
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Ora inizio fine</label>
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Classrom</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>




        {{ Form_closeElementSpace() }}
        {{ Form_openButtonSpace() }}
        {{ Form_getButton('save', 'save', Lang_translate('_SAVE', 'course')) }}
        {{ Form_getButton('undo', 'undo', Lang_translate('_UNDO', 'course')) }}
        {{ Form_closeElementSpace() }}
        {{ Form_closeForm() }}
    </div>

</div>


<script type="text/javascript">

    var js_edit = document.getElementsByClassName('js-edit');

    for (let item of js_edit) {
        item.addEventListener('click', editRow)
    };

    function editRow(e) {
        e.preventDefault()
        var rowData = rowDataset(e)
        console.log(rowData)
    };

    function rowDataset(e) {
        var row = e.target.parentNode.parentNode
        return row.dataset;
    };










</script>
