<style>

    .add-classroom-dates {
        display: none;
    }

    .add-classroom-dates .col-box-end-button {
        display: flex;
        align-items: flex-end;
    }

    .add-classroom-dates .col-box-end-button .box-classroom {

        align-items: center;
        margin-right: 15px;
    }

    .add-classroom-dates .btn {
        border-radius: 8px;
    }

    .add-classroom-dates .btn-save {
        background: #2D8CFF;
        color: white;
    }

    .add-classroom-dates .btn-delete {
        background: transparent;
        color: #2D8CFF;
    }

    .add-classroom-dates .select-box {
        margin-left: 5px;
    }

    .edit-classroom-dates .edit-classroom-dates--new-date {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .edit-classroom-dates .edit-classroom-dates--new-date p {
        color: #2D8CFF;
        cursor: pointer;
    }

</style>


<div class="std_block">
    <div class="container">
        {% set courseUrl = 'index.php?r=' ~ courseBaseLink ~ '/show' %}

        {% set classUrl = 'index.php?r=' ~ classroomBaseLink ~ '/classroom&id_course=' ~ idCourse %}


        {% set title = Lang_translate('_MOD_DATES', 'course') ~ ': ' ~ postData.name %}

        {% if postdata.dateBegin is not empty %}
            {% set title = title ~ ' (' ~ postData.dateBegin ~ ')' %}
        {% endif %}

        {{ Get_title(
            {
                (courseUrl) : Lang_translate('_COURSE', 'course'),
                (classUrl) : Lang_translate('_CLASSROOM', 'course'),
                '': title
            },false) }}

        {% if error %}
            {% set errorTranslate = Lang_translate((error), 'course') %}
            {{ UiFeedback_error(errorTranslate) }}
        {% endif %}

        {{ Form_openForm('date', action ) }}
        {{ Form_openElementSpace() }}


        <div class="edit-classroom-dates">

            <div id="js-row-hidden" class="hidden">
                <!--<tr data-day_id="#day_id#" data-date="#day_date#" data-date_begin="#dataset_day_date_begin#" data-date_end="#dataset_day_date_end#" data-pause_begin="#dataset_day_pause_begin#" data-pause_end="#dataset_day_pause_end#" data-classroom="#dataset_day_classroom#">
                    <th scope="row">#day_date#</th>
                    <td>#day_date_begin#</td>
                    <td>#day_date_end#</td>
                    <td>#day_pause_begin#</td>
                    <td>#day_pause_end#</td>
                    <td>#day_classroom#</td>
                    <td><a class="js-edit" href="javascript:void(0)" >Edit</a></td>
                    <td><a class="js-delete" href="javascript:void(0)" >Delete</a></td>
                </tr>-->
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Ora inizio</th>
                    <th scope="col">Ora fine</th>
                    <th scope="col">Ora inizio pausa</th>
                    <th scope="col">Ora fine pausa</th>
                    <th scope="col">Classe</th>
                </tr>
                </thead>
                <tbody id="js-table-body">
                {% for day in postData.days %}

                    <tr data-day_id="{{ day.id }}" data-date="{{ day.date }}" data-date_begin="{{ day.date_begin }}"
                        data-date_end="{{ day.date_end }}" data-pause_begin="{{ day.pause_begin }}"
                        data-pause_end="{{ day.pause_end }}" data-classroom="{{ day.classroom }}">
                        <th scope="row">{{ day.date }}</th>
                        <td>{{ day.date_begin|date("H:i") }}</td>
                        <td>{{ day.date_end|date("H:i") }}</td>
                        <td>{{ day.pause_begin|date("H:i") }}</td>
                        <td>{{ day.pause_end|date("H:i") }}</td>
                        <td>{{ day.classroom }}</td>
                        <td><a class="js-edit" href="javascript:void(0)">Edit</a></td>
                        <td><a class="js-delete" href="javascript:void(0)" data-swal-toast-template="#my-template">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="edit-classroom-dates--new-date">
                <div class="edit-classroom-dates--new-date-box">
                    <p id="js-button-new-row">Inserisci una nuova riga</p>
                </div>
            </div>
        </div>


        <div class="add-classroom-dates" id="js-add-classroom-dates" style="display: none">
            <div class="row mb-4">
                <input type="hidden" id="form-day_id">
                <div class="col">
                    <div class="form-outline">
                        <label for="form-day_date">Date</label>
                        <input class="form-control" id="form-day_date" type="date">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form-day_date_begin">Ora inizio</label>
                        <input value="09:00" type="time" id="form-day_date_begin" class="form-control"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form-day_date_end">Ora fine</label>
                        <input type="time" value="18:00" id="form-day_date_end" class="form-control"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form-day_pause_begin">Ora inizio pausa</label>
                        <input type="time" value="12:00" id="form-day_pause_begin" class="form-control"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form-day_pause_end">Ora fine pausa</label>
                        <input type="time" value="14:00" id="form-day_pause_end" class="form-control"/>
                    </div>
                </div>
                <div class="col col-box-end-button">
                    <div class="form-outline box-classroom">
                        <label for="form-day_classroom">Classrom</label>
                        <select class="form-control select-box" id="form-day_classroom">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-outline">
                        <button class="btn btn-save" id="js-classroom-dates-save">Save</button>
                        <button class="btn btn-delete" id="js-classroom-dates-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        {{ Form_closeElementSpace() }}
        {{ Form_openButtonSpace() }}
        {{ Form_getButton('js-save', 'save', Lang_translate('_SAVE', 'course')) }}
        {{ Form_getButton('js-undo', 'undo', Lang_translate('_UNDO', 'course')) }}
        {{ Form_closeElementSpace() }}
        {{ Form_closeForm() }}
    </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

    var jsEdit = document.getElementsByClassName('js-edit');
    var jsDelete = document.getElementsByClassName('js-delete');
    var jsAddNewRow = document.querySelector('#js-button-new-row');

    var lastInsertedRowId = -1;

    jsAddNewRow.addEventListener('click', function () {
        var editClassroomDate = document.querySelector('#js-add-classroom-dates');
        if (editClassroomDate.style.display === 'none') {
            editClassroomDate.style.display = 'block';
        } else {
            editClassroomDate.style.display = 'none';
        }
    })

    for (let item of jsEdit) {
        item.addEventListener('click', editRow);
    }


    for (let item of jsDelete) {
        item.addEventListener('click', deleteRow);
    }

    document.getElementById('js-save').addEventListener('click', saveData);

    function saveData(e) {
        e.preventDefault();

        var postData = [];
        var tableBody = getTableBody();

        for (let row of tableBody.rows) {

            var dataset = row.dataset;

            postData.push({
                'id': (typeof dataset.day_id !== 'undefined' ? dataset.day_id : ''),
                'classroom': dataset.classroom,
                'date_begin': dataset.date_begin,
                'date_end': dataset.date_end,
                'pause_begin': dataset.pause_begin,
                'pause_end': dataset.pause_end
            });
        }

        console.log(postData);

    }

    function getTableBody() {
        return document.getElementById("js-table-body");
    }

    function editRow(e) {
        e.preventDefault();
        var editClassroomDate = document.querySelector('#js-add-classroom-dates');
        if (editClassroomDate.style.display === 'none') {
            editClassroomDate.style.display = 'block';
        }

        var rowData = getRowDatasetFromEvent(e);

        document.getElementById('form-day_id').value = rowData.day_id;

        /** convert date string to date object (date string format 01-07-2021) */
        var date = stringToDate(rowData.date, 'dd-MM-yyyy', '-');
        date.setHours(date.getHours() + 2);

        document.getElementById('form-day_date').valueAsDate = date;

        /** split date_begin string to use only time */
        date = rowData.date_begin.split(" ");
        if (date.length > 1) {
            document.getElementById('form-day_date_begin').value = date[1];
        }
        date = rowData.date_end.split(" ");
        if (date.length > 1) {
            document.getElementById('form-day_date_end').value = date[1];
        }
        date = rowData.pause_begin.split(" ");
        if (date.length > 1) {
            document.getElementById('form-day_pause_begin').value = date[1];
        }
        date = rowData.pause_end.split(" ");
        if (date.length > 1) {
            document.getElementById('form-day_pause_end').value = date[1];
        }
        document.getElementById('form-day_classroom').value = rowData.classroom;
    }

    function deleteRow(e) {
        e.preventDefault()
        e.target.parentNode.parentNode.remove();
    }

    function getRowDatasetFromEvent(e) {
        var row = e.target.parentNode.parentNode
        return row.dataset;
    }

    var jsClassroomSave = document.getElementById('js-classroom-dates-save');

    jsClassroomSave.addEventListener('click', function (e) {
        e.preventDefault();
        var id = document.getElementById('form-day_id');
        var date = document.getElementById('form-day_date');
        var dateBegin = document.getElementById('form-day_date_begin');
        var dateEnd = document.getElementById('form-day_date_end');
        var pauseBegin = document.getElementById('form-day_pause_begin');
        var pauseEnd = document.getElementById('form-day_pause_end');
        var classroom = document.getElementById('form-day_classroom');
        var newTableRow = document.getElementById('js-row-hidden').innerHTML;

        var tableBody = getTableBody();

        
        if (date.value !== '' && dateBegin.value !== '' && dateEnd.value !== '' && pauseBegin.value !== '' && pauseEnd.value !== '' && classroom.value !== '') {
            newTableRow = newTableRow.replace('<!--', '').replace('-->', '');
            newTableRow = newTableRow.replaceAll('#day_date#', formattedDate(new Date(date.value)));
            newTableRow = newTableRow.replace('#day_date_begin#', dateBegin.value).replace('#dataset_day_date_begin#', date.value + ' ' + dateBegin.value);
            newTableRow = newTableRow.replace('#day_date_end#', dateEnd.value).replace('#dataset_day_date_end#', date.value + ' ' + dateEnd.value);
            newTableRow = newTableRow.replace('#day_pause_begin#', pauseBegin.value).replace('#dataset_day_pause_begin#', date.value + ' ' + pauseBegin.value);
            newTableRow = newTableRow.replace('#day_pause_end#', pauseEnd.value).replace('#dataset_day_pause_end#', date.value + ' ' + pauseEnd.value);
            newTableRow = newTableRow.replace('#day_classroom#', classroom.value).replace('#dataset_day_classroom#', classroom.value);

            if (typeof id.value !== 'undefined' && id.value !== '') {

                for (let row of tableBody.rows) {
                    var dataset = row.dataset;

                    if (dataset.day_id === id.value) {
                        newTableRow = newTableRow.replace('#day_id#', id.value);
                        row.innerHTML = newTableRow;

                        jsEdit = row.getElementsByClassName('js-edit');
                        jsDelete = row.getElementsByClassName('js-delete');

                        for (let item of jsEdit) {
                            item.addEventListener('click', editRow);
                        }

                        for (let item of jsDelete) {
                            item.addEventListener('click', deleteRow);
                        }
                        console.log(newTableRow);
                    }
                }
            } else {

                newTableRow = newTableRow.replace('#day_id#', lastInsertedRowId);
                lastInsertedRowId--;
                tableBody.insertAdjacentHTML('beforeend', newTableRow);

                var lastRow = tableBody.rows.item(tableBody.rows.length - 1);

                var jsEdit = lastRow.getElementsByClassName('js-edit');
                var jsDelete = lastRow.getElementsByClassName('js-delete');

                //isSuccess()

                for (let item of jsEdit) {
                    item.addEventListener('click', editRow)
                }

                for (let item of jsDelete) {
                    item.addEventListener('click', deleteRow)
                }

            }
        } else {

            alert('la data è gia inserita')
        }

    });

    var jsClassroomDelete = document.getElementById('js-classroom-dates-delete');

    jsClassroomDelete.addEventListener('click', function (e) {
        e.preventDefault()

    });


    function formattedDate(d = new Date) {
        let month = String(d.getMonth() + 1);
        let day = String(d.getDate());
        const year = String(d.getFullYear());

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return `${day}-${month}-${year}`;
    }

    function stringToDate(_date, _format, _delimiter) {
        var formatLowerCase = _format.toLowerCase();
        var formatItems = formatLowerCase.split(_delimiter);
        var dateItems = _date.split(_delimiter);
        var monthIndex = formatItems.indexOf("mm");
        var dayIndex = formatItems.indexOf("dd");
        var yearIndex = formatItems.indexOf("yyyy");
        var month = parseInt(dateItems[monthIndex]);
        month -= 1;
        return new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
    }

    function isError() {
        Swal.fire({
            title: 'Devi inserire tutti i valori!',
            icon: 'error',
        })
    }

    function isSuccess() {
        Swal.fire({
            title: 'Valori inseriti',
            icon: 'success',
        })
    }

</script>
