{% set courseUrl = 'index.php?r=' ~ courseBaseLink ~ '/show' %}

{% set classUrl = 'index.php?r=' ~ classroomBaseLink ~ '/classroom&id_course=' ~ idCourse %}

{{ Get_title(
    {
        (courseUrl) : Lang_translate('_COURSE', 'course'),
        (classUrl) : Lang_translate('_CLASSROOM', 'course'),
        '':Lang_translate('_ADD', 'course')
    },false) }}

{% if error %}
    {% set errorTranslate = Lang_translate((error), 'course') %}
    {{ UiFeedback_error(errorTranslate) }}
{% endif %}

<div class="std_block">

    {{ Form_openForm('add_date', 'index.php?r=' ~ classroomBaseLink ~ '/addclassroom&amp;id_course='~ idCourse) }}
    {{ Form_openElementSpace() }}
    {{ Form_getTextfield( Lang_translate('_CODE', 'course') , 'code', 'code', 255, {% if code }} %} {% elseif %} {{ code }} {% endif %} : courseInfo.code)%} }}

</div>
