{{ Get_title({
	'index.php?r=alms/communication/showCategories' : Lang_translate('_CATEGORY', 'communication'),
	'':Lang_translate('_CATEGORIES', 'communication')
},false) }}

<table class="table table-bordered display" style="width:100%" id="categorieslist"></table>
<br>
<a id="addcategory_bottom"  onclick="event.preventDefault();openModal();" href="#" class="ico-wt-sprite subs_add" title="{{ Lang_translate('_ADD', 'standard') }}"><span>{{ Lang_translate('_ADD', 'standard') }}</span></a>


{% include 'partials/modal_confirm.html.twig' %}
{% include 'partials/modal_category.html.twig' %}

<script>
    $(function () {
        var confirmDialog = function (modalSelector, message, onConfirm) {
            var fClose = function() {
                modal.modal("hide");
            };
            var modal = $(modalSelector);
            modal.modal("show");
            modal.find("*[data-val=body]").empty().append(message);
            modal.find("*[data-val=yes]").unbind().one('click', onConfirm).one('click', fClose);
            modal.find("*[data-val=no]").unbind().one("click", fClose);
        }

        var delFunc = function(id) {
            confirmDialog("#confirmModal", "{{ Lang_translate('_AREYOUSURE', 'standard') }}", function() {
                alert("SIIII!")
            });
        };
        
        var body = {{ categoriesList | json_encode(constant('JSON_HEX_APOS')) | raw }};

        var columns = [
            {data: 'label', title: '{{ Lang_translate('_LABEL', 'communication') }}', sortable: true},
            {data: 'parentLabel', title: '{{ Lang_translate('_PARENT', 'communication') }}', sortable: false},
            {data: 'countCommunications', title: '{{ Lang_translate('_COUNT', 'communication') }}', sortable: true},
            {data: 'filterUrl', title: '<span class="ico-sprite subs_download"><span>{{ Lang_translate('_FILTER', 'communication') }}', sortable: false},
            {data: 'editUrl', title: '<span class="ico-sprite subs_mod"><span>{{ Lang_translate("_MOD", "admin_lang") }}</span></span>', sortable: true},
            {data: 'deleteUrl', title: '<span class="ico-sprite subs_del"><span>{{ Lang_translate("_DEL", "admin_lang") }}</span></span>', sortable: true}

        ];
        var rows = [];

        body.forEach(function (item, k) {
           link = '<a id="'+item.id+'" href="'+item.filterUrl+'" class="ico-sprite subs_download" title="{{ Lang_translate("_EXPORT_XML", "admin_lang") }}"><span></span></a>'
            item.filterUrl = link;
            link = '<a id="'+item.id+'" href="'+item.editUrl+'" class="ico-sprite subs_mod" title="{{ Lang_translate("_MOD", "admin_lang") }}"><span></span></a>'
            item.editUrl = link;
            link = '<a id="'+item.id+'" href="'+item.deleteUrl+'" class="ico-sprite subs_del" title="{{ Lang_translate("_DEL", "admin_lang") }}"><span></span></a>'
            item.deleteUrl = link;

            rows.push(Object.assign({}, item));
        });

        var t = $('#categorieslist').FormaTable({
            rowId: function (row) {
                return row[0];
            },  // cambia
            scrollX: true,
            processing: true,
            serverSide: false,
            paging: true,
            searching: true,
            columns,
            data: rows,
            dom: 'Bfrtip',
            stateSave: true,
            deferRender: true,
        });
    });

    var openModal = function() {

		var modalSelector = '#categoryModal';
		var modal = $(modalSelector);
		var fClose = function() {
			modal.modal("hide");
		};

		 modal.modal("show");
	};

    var data = {{ categoriesDropdownData | json_encode(constant('JSON_HEX_APOS')) | raw }};
    var dropPlaceholder = '{{ Lang_translate('_OPTION','communication') }}';
  
    const categoryDropdown = new window.frontend.modules.Select2($("#category"),{
 
    data: data,
    width:"100%",
    allowClear : true,
    dropdownParent: $('#categoryModal'),
  //  minimumResultsForSearch: 3,
     formatSelection: function(item) {
      return item.text
    },
    formatResult: function(item) {
      return item.text
    },
    templateResult: function(item) {
         var $result = $('<span style="padding-left:' + (20 * item.level) + 'px;">' + item.text + '</span>');
    return $result;
    },
    placeholder: dropPlaceholder,

  });


 $('input[name=save]').on('click', function(e) {
     e.preventDefault();
     e.stopPropagation();

     $form = $(this).parents('form');

    
     $.ajax({
    type:  $form.attr("method"),
    url:  $form.attr("action"),
    data: $form.serialize() ,
    dataType : 'json', // changing data type to json
    success: function (data) { // here I'm adding data as a parameter which stores the response
        console.log(data); // instead of alert I'm changing this to console.log which logs all the response in console.
    }
});
 })

    
</script>