<div class="page-header">
    <h1>{{ translate('menu_course', '_STORAGE') }}</h1>
</div>

<div class="std_block">
    <div class="tabs-wrapper">
        <ul class="nav nav-tabs">
            {% for tab in tabs %}
                <li role="presentation" class="tab-link {{ tab.active ? 'active' : '' }}" data-type="{{ tab.type }}"><a href="#{{ tab.type }}">{{ tab.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content fv-is-teacher-area">
            {% for tab in tabs %}
                {% include 'container.html.twig' with { tab: tab, lo_types: lo_types } %}
            {% endfor %}
        </div>

        {% include 'rename.html.twig' %}
        {% include 'select_target_tab.html.twig' with { tabs: tabs } %}
    </div>
</div>

<script>
const tabs = document.querySelectorAll('.tab-link');
const activeTab = document.querySelector('.tab-link.active');
window.type = document.querySelector('.tab-content > .active').getAttribute('data-container');

if (tabs) {
    tabs.forEach((tab) => {
        tab.addEventListener('click', clickOnTab);
        tab.addEventListener('click', saveCurrentState);

        new window.FolderTree(tab.getAttribute('data-type'));
        new window.FolderView(tab.getAttribute('data-type'));
        new window.CreateItem(tab.getAttribute('data-type'));
    });
   new window.CopyItem();
}

function clickOnTab(event) {
    const target = event.target;
    const el = target.closest('.tab-link');
    const linktype = el.getAttribute('data-type');
    const tabs = document.querySelectorAll('.tab-link');
    const tab = target.closest('.tab-link');
    const oldTabContainer = document.querySelector('.tab-content > .active');
    const tabContainer = document.querySelector('.tab-content > .tab-pane[data-container=' + linktype + ']');

    if (tabs) {
        tabs.forEach((tab) => {
            tab.classList.remove('active');
        });
    }
    if (tab) {
        tab.classList.add('active');
    }

    if (oldTabContainer) {
        oldTabContainer.classList.remove('active');
    }
    if (tabContainer) {
        tabContainer.classList.add('active');
    }
}

function setCurrentTab(linktype) {
    $.ajax({
        type: 'POST',
        url: 'index.php?r=lms/lo/setCurrentTab',
        data: {
            type: linktype,
        },
    });
}

function saveCurrentState(event) {
    const target = event.target;
    const el = target.closest('.tab-link');
    const linktype = el.getAttribute('data-type');
    window.type = linktype;

    setCurrentTab(linktype);
}

</script>
