

  <div class="installer-container">
      <div class="installer-title">
          {{ Get_title({
          '#' : installerTitle
        },false) }}
      </div>
    <div id="installer-section">
        {% for stepNumber,step in steps %}
        <h3>{{ step }}</h3>
        <section>
            {% include 'partials/install/step' ~ stepNumber ~'.html.twig' %}
        </section>
        {% endfor %}
    </div>
  </div>

{% block scripts %}

  <script type="text/javascript" src="{{ Layout_getPath() }}script/jquery.steps.min.js"></script>
  <script>
    let startIndex = {{setValues.step|json_encode|raw}};
    let nextLabel = {{ next|json_encode|raw }};
    let prevLabel = {{ back|json_encode|raw }};
    let loading = {{ loading|json_encode|raw }};
  </script>
  <script type="text/javascript" src="{{ Layout_getPath() }}script/install/install.js"></script>


{% endblock %}
