{% extends "standard_profile.html.twig" %}
{% set _CUSTOM_FIELD_LABEL = 0 %}
{% set _CUSTOM_FIELD_VALUE = 1 %}
{% set _CUSTOM_FIELD_TYPE = 4 %}
{% block user_profile_data  %}
    {{ parent() }}
    {% for custom_field in user_custom_fields %}
        <div class="user-profile__content">
            {% if custom_field[_CUSTOM_FIELD_TYPE] == 'textlabel' %}
                {{ custom_field[_CUSTOM_FIELD_LABEL] | raw }}
            {% elseif custom_field[_CUSTOM_FIELD_TYPE] == 'upload' %}
                {{ custom_field[_CUSTOM_FIELD_VALUE] | raw }}
             {% else %}
                 <div class="course-info__label">{{ custom_field[_CUSTOM_FIELD_LABEL] }}</div>
                 <div class="course-info__value text--gray">{{ custom_field[_CUSTOM_FIELD_VALUE] }}</div>
             {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block message %}
{% endblock %}

{% block extendedProfile_user %}
    <br>
    {% if user_manager._DIRECT|length > 0 or user_manager._ORG|length > 0 or user_manager._GROUP|length > 0 %}
        <div class="user-profile__column">
            <div class="box-title">{{ Lang_translate('_MANAGED_BY', 'profile') }}</div>
            {% if user_manager._DIRECT|length > 0 %}
                <div class="user-profile__content">
                    <div class="course-info__label">{{ Lang_translate('_DIRECT_BY', 'profile') }}</div>
                    <div class="course-info__value text--gray" >{{ user_manager._DIRECT|join(';')|raw }}</div>
                </div>
            {% endif %}
            {% if user_manager._ORG|length > 0 %}
                <div class="user-profile__content">
                    <div class="course-info__label">{{ Lang_translate('_ORGCHART', 'standard') }}</div>
                    <div class="course-info__value text--gray" >{{ user_manager._ORG|join(';')|raw }}</div>
                </div>
            {% endif %}
            {% if user_manager._GROUP|length > 0 %}
                <div class="user-profile__content">
                    <div class="course-info__label">{{ Lang_translate('_GROUPS', 'standard') }}</div>
                    <div class="course-info__value text--gray" >{{ user_manager._GROUP|join(';')|raw }}</div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="user-profile__column">
        <div class="box-title">{{ Lang_translate('_USER_QUOTA', 'profile') }}</div>
        <div class="course-info__value text--gray">
           {{ uploaded_file_size}}  / {{ max_quota }} MB
        </div>
    </div>
{% endblock %}
{% block extendedProfile_teacher %}
    {% if course_as_teacher |length > 0 or  course_as_tutor |length > 0 or course_as_mentor |length > 0 %}
        <div class="col-sm-3">
            {% if course_as_teacher |length > 0 %}
                    <div class="user-profile__column">
                        <div class="box-title">{{ Lang_translate('_COURSE_AS_TEACHER', 'profile') }}</div>
                         {% for course in course_as_teacher %}
                             <div class="user-profile__content">
                                 <div class="course-info__label">{{ course.code }}</div>
                                 <div class="course-info__value text--gray">{{ course.name }}</div>
                             </div>
                         {% endfor  %}
                    </div>
            {% endif %}
            {% if course_as_tutor |length > 0 %}
                <div class="user-profile__column">
                    <div class="box-title">{{ Lang_translate('_COURSE_AS_TUTOR', 'profile') }}</div>
                    {% for course in course_as_tutor %}
                        <div class="user-profile__content">
                            <div class="course-info__label">{{ course.code }}</div>
                            <div class="course-info__value text--gray">{{ course.name }}</div>
                        </div>
                    {% endfor  %}
                </div>
            {% endif %}
            {% if course_as_mentor |length > 0 %}
                <div class="user-profile__column">
                    <div class="box-title">{{ Lang_translate('_COURSE_AS_MENTOR', 'profile') }}</div>
                    {% for course in course_as_mentor %}
                        <div class="user-profile__content">
                            <div class="course-info__label">{{ course.code }}</div>
                            <div class="course-info__value text--gray">{{ course.name }}</div>
                        </div>
                    {% endfor  %}
                </div>
            {% endif %}
        </div>
    {% endif  %}
{% endblock %}
{% block modify_profile %}
    {% if modify_profile %}
        <a href="index.php?r=lms/profile/modprofile" class="button btn btn-default">{{ Lang_translate('_MOD', 'standard') }}</a>
    {% endif %}
{% endblock %}

