<div class="section-course user-profile">
  <div class="page-subtitle">
    {{user.name}}
    {% block modify_profile %}
    {% endblock %}
  </div>
  <div class="row">
    <div class="col-sm-3 profile__firstcolumn--special">
      <div class="box-title">{{ Lang_translate('_PROFILE', 'profile') }}</div>
      <div class="col-sm-4 user-profile__column user-profile__column--minwidth">
        <div class="user-profile__infocontainer">
          <div>
            {% block user_profile_data  %}
              <div class="user-profile__content">
                <div class="course-info__label">{{ Lang_translate('_USERNAME', 'course') }}</div>
                <div class="course-info__value text--gray">{{user.username|slice(1)}}</div>
              </div>

              <div class="user-profile__content">
                <div class="course-info__label">{{ Lang_translate('_FIRSTNAME', 'standard') }}</div>
                <div class="course-info__value text--gray">{{user.firstname}}</div>
              </div>

              <div class="user-profile__content">
                <div class="course-info__label">{{ Lang_translate('_LASTNAME', 'standard') }}</div>
                <div class="course-info__value text--gray">{{user.lastname}}</div>
              </div>
            {%  endblock %}
          </div>

          <div class="user-profile__imgcontainer">
            <div class="user-profile__content">
              <div class="course-info__label">{{ Lang_translate('_AVATAR', 'standard') }}</div>
              {% if user.avatar != '' %}
                <img class="user-profile__img" src="{{user.avatar}}" alt="{{user.name}}" />
              {% else %}
                <img class="user-profile__img" src="{{templatePath}}/static/images/icons/top-menu/icon--profile.svg" alt="{{user.name}}" />
              {% endif %}
            </div>
          </div>
        </div>

        <div class="course-info__label">{{ Lang_translate('_EMAIL', 'standard') }}</div>
        <div class="course-info__value text--gray">
          <a class="user-profile__namelink" href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
        </div>
        {% block message  %}
          {% if can_access_messages %}
              <a class="forma-button user-profile__cta" href="{{ route.message.url }}&idst={{ user.idst }}&signature={{ Util_getSignature() }}&sop=unregistercourse">
                {{Lang_translate('_MESSAGE','course')}}
              </a>
          {% endif %}
        {% endblock %}
        {% block extendedProfile_user %}
        {% endblock %}
      </div>
    </div>

    <div class="col-sm-3">
      <div class="user-profile__column">
        <div class="box-title">{{ Lang_translate('_COMMUNITY', 'profile') }}</div>
        <div class="user-profile__content">
          <div class="course-info__label">{{ Lang_translate('_REGISTER_DATE', 'profile') }}</div>
          <div class="course-info__value text--gray">{{user.registerDate}}</div>
        </div>
        <div class="user-profile__content">
          <div class="course-info__label">{{ Lang_translate('_FORUM_MESSAGE', 'profile') }}</div>
          <div class="course-info__value text--gray">{{userStats.forum_post}}</div>
        </div>
        <div class="user-profile__content">
          <div class="course-info__label">{{ Lang_translate('_LOADED_FILE', 'standard') }}</div>
          <div class="course-info__value text--gray">{{userStats.loaded_file}}</div>
        </div>
      </div>

      <div class="user-profile__column">
        <div class="box-title">{{ Lang_translate('_LAST_PROFILE_VIEW', 'profile') }}</div>
        <div class="course-info__value text--gray">
          {% for user in lastViews %}
            <a href="#" class="user-profile__namelink">{{ user.username }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% block extendedProfile_teacher %}
    {% endblock %}
  </div>
</div>



