{% if user.avatar != '' %}
    {% set avatar = user.avatar %}
{% else %}
    {% set avatar = templatePath ~ '/static/images/profile.png' %}
{% endif %}

<div class="col-sm-6 course-info__people">
    <div class="course-info__peopleimage" style="background-image:url({{ avatar}})"></div>
    <div class="course-info__peopletxt">
        <div class="course-info__peoplename text-orange">{{ user.name}}</div>
        {% if user.biography != '' %}
            <a class="course-info__peoplebio js-infocourse-bio-trigger" href="#" data-title="{{ user.name}}" data-image="{{ avatar}}" data-role="{{role}}">{{translate('_BIOGRAPHY','course')}}</a>
        {% endif %}
        <a class="forma-button course-info__peoplecta js-infocourse-message-trigger" data-route="{{ route.message.url }}" data-idst="{{ user.idst }}" data-signature="{{ evalPhp('Util::getSignature') }}" href="#">{{translate('_MESSAGE','course')}}</a>
        <div class="clear"></div>
        <div class="hidden js-infocourse-bio-text">
            {{ user.biography}}
        </div>
    </div>
    <div class="clear"></div>
</div>