<div class="col-sm-6 course-info__teacher">
    <div class="course-info__teacherimage" style="background-image:url({{ user.avatar}})"></div>
    <div class="course-info__teachertxt">
        <div class="course-info__teachername text-orange">{{ user.name}}</div>
        <a class="course-info__teacherbio js-infocourse-bio-trigger" href="#">{{translate('_BIOGRAPHY','course')}}</a>
        <a class="forma-button course-info__teachercta" href="#">MESSAGGIO</a>
        <div class="clear"></div>
        <div class="hidden js-infocourse-bio-text" data-title="{{ user.name}}" data-image="{{ user.avatar}}">
            {{ user.biography}}
        </div>
    </div>
    <div class="clear"></div>
</div>