{% extends "Base/base.html.twig" %}


{% block content %}
    {#calendar#}
  
  <div class="d-col d-col--12 d-col--6--desktop">
    <div class="d-calendar d-widget">
      <h3 class="d-title">
        {{ translate('_CALENDAR','standard') }}
      </h3>
      <div class="d-calendar__item js-dashboard-calendar"></div>
    </div>
  </div>
{# 
  <pre>
    {{ dump(block) }}
  </pre> #}
  
  <script>
    window.dashboardCalendarAjaxUrl = '{{ block.ajaxUrl }}';
    window.dashboardCalendarAjaxSignature = '{{ block.postData.signature }}';
    window.dashboardCalendarAjaxPostData = '{{ block.postData.block }}';
  </script>

{% endblock %}