<div class="homepage__row homepage__row--gray homepage__back">
    <a href="{{ back.link }}">
        <span class="fa fa-chevron-left"></span> {{ back.title|raw }}
    </a>
</div>
<div class="homepage__row homepage__row--gray">
    <p class="homepage__text homepage__text--centered homepage__text--title">
        {{ translate('_LOG_LOSTPWD', 'login') }}
    </p>
</div>
<div class="homepage__row homepage__row--gray">
    <p class="homepage__text homepage__text--left">
        <strong>{{ lost_username.title }}</strong><br>
        {{ lost_username.istruction }}
    </p>
</div>
<div class="homepage__form homepage__form--lost-pwd">
    {{ lost_username.form|raw }}
</div>
<div class="homepage__row homepage__row--gray">
    <br>
    <p class="homepage__text homepage__text--left">

        <strong>{{ lost_pwd.title }}</strong><br>
        {{ lost_pwd.istruction }}

    </p>
</div>
<div class="homepage__form homepage__form--lost-pwd">
    {{ lost_pwd.form|raw }}
</div>
<br>
<div class="homepage__row homepage__row--footer">
    <nav class="homepage__links">
        {% if externalPages is defined %}
            {% for externalPage in externalPages %}
                <a href="{{ externalPage.link }}">{{ externalPage.title }}</a>
            {% endfor %}
        {% endif %}
    </nav>
</div>
