<div class="homepage__row homepage__row--gray homepage__back">
    <a href="./index.php">
        <span class="fa fa-chevron-left"></span> Indietro
    </a>
</div>
<div class="homepage__row homepage__row--gray">
    <p class="homepage__text homepage__text--centered homepage__text--title">
        Recupera password o username
    </p>
</div>
<div class="homepage__row homepage__row--gray">
    <p class="homepage__text homepage__text--left">
        <strong>Ho perso il mio username</strong><br>
        Se hai perso il tuo username inserisci nel campo qui
        sotto l'email con cui ti sei registrato, ti verrà inviata una email per ricordartelo
    </p>
</div>
<div class="homepage__form homepage__form--lost-pwd">
    <div class="homepage__row homepage__row--gray homepage__row--form row-fluid">
        <div class="col-xs-12 col-sm-5">
            <input class="form-control" type="text" placeholder="Inserisci qui la tua email">
        </div>
        <div class="col-xs-12 col-sm-2">
            <button type="submit" class="forma-button forma-button--black thin">Invia</button>
        </div>

    </div>
</div>
<div class="homepage__row homepage__row--gray">
    <br>
    <p class="homepage__text homepage__text--left">
        <strong>Ho perso la password</strong><br>
        Se hai perso la password inserisci qui il tuo username, riceverai una email con le istruzioni successive
    </p>
</div>
<div class="homepage__form homepage__form--lost-pwd">
    <div class="homepage__row homepage__row--gray homepage__row--form row-fluid">
        <div class="col-xs-12 col-sm-5">
            <input class="form-control" type="text" placeholder="Inserisci qui il tuo username">
        </div>
        <div class="col-xs-12 col-sm-2">
            <button type="submit" class="forma-button forma-button--black thin">Invia</button>
        </div>
    </div>
</div>
<br>
<div class="homepage__row homepage__row--footer">
    <nav class="homepage__links">
        {% if externalPages is defined %}
            {% for externalPage in externalPages %}
                <a href="{{ externalPage.link }}">{{ externalPage.title }}</a>
            {% endfor %}
        {% endif %}
    </nav>
</div>

{#{{ titleArea|raw }}#}
{#<div class="std_block">#}
    {#{{ backUi|raw }}#}
    {#<div class="lostpwd_box">#}
        {#<span class="text_bold">{{ lost_username.title }} - </span>{{ lost_username.istruction }}#}
        {#{% if lost_username.ldap == true %}#}
            {#<div class="form_right">#}
                {#<span class="font_red">{{ lost_username.ldap_title }}</span>#}
            {#</div>#}
        {#{% else %}#}
            {#{{ lost_username.form|raw }}#}
        {#{% endif %}#}
    {#</div>#}
    {#<div class="lostpwd_box">#}
        {#<span class="text_bold">{{ lost_pwd.title }} - </span>{{ lost_pwd.istruction }}#}
        {#{{ lost_pwd.form|raw }}#}
    {#</div>#}
{#</div>#}

