<div class="page-header">
  <h1>{{ Lang_translate('_INFO','course') }}</h1>
</div>

<div class="page-subtitle">
  {{course.name}} 
</div>

<div class="section-course course-info js-infocourse">
  <div class="row">
    <div class="col-sm-6">
      <div class="course-info__general">
        <div class="box-title">{{ Lang_translate('_INFO','course') }}</div>

        <div class="course-info__table course-info__table--code">
          <div class="course-info__label">{{ Lang_translate('_CODE','course') }}</div>
          <div class="course-info__value text--gray">{{course.code}}</div>
        </div>
	
        {% if  course.course_type == 'classroom' %}
    
	        <div class="course-info__table course-info__table--subscribe-method">
	          <div class="course-info__label">{{ Lang_translate('_EDITION','course') }}</div>
	          <div class="course-info__value text--gray">[{{info_date.code}}]<br> {{info_date.name}} </div>
	        </div>
     
        {% endif %}	
        <div class="course-info__table course-info__table--subscribe-method">
          <div class="course-info__label">{{ Lang_translate('_SUBSCRIBE_METHOD','course') }}</div>
          <div class="course-info__value text--gray">{{course.subscribe_method_translate}}</div>
        </div>

        <div class="course-info__table course-info__table--language">
          <div class="course-info__label">{{ Lang_translate('_LANGUAGE','course') }}</div>
          <div class="course-info__value text--gray">{{ course.lang_code }}</div>
        </div>

        <div class="course-info__table course-info__table--difficulty">
          <div class="course-info__label">{{ Lang_translate('_DIFFICULTY','course') }}</div>
          <div class="course-info__value text--gray">{{course.difficulty_translate}}</div>
        </div>

        {% if course.show_extra_info %}
          <div class="course-info__table course-info__table--status">
            <div class="course-info__label">{{ Lang_translate('_STATUS','course') }}</div>
            <div class="course-info__value text--gray">{{course.status}}</div>
          </div>

          <div class="course-info__table course-info__table--completion-method">
            <div class="course-info__label">{{ Lang_translate('_PERMCLOSE','course') }}</div>
            <div class="course-info__value text--gray">{{course.completion_method}}</div>
          </div>

          <div class="course-info__table course-info__table--mediumtime">
            <div class="course-info__label">{{ Lang_translate('_MEDIUMTIME','course') }}</div>
            <div class="course-info__value text--gray">{{course.mediumTime}}</div>
          </div>

          <div class="course-info__table course-info__table--cannot-enter">
            <div class="course-info__label">{{ Lang_translate('_STATCANNOTENTER','course') }}</div>
            <div class="course-info__value text--gray"> {{ course.cannot_enter|join(' | ') }}</div>
          </div>

        {% endif %}

        <div class="clear"></div>

        <div class="course-info__table course-info__table--full course-info__table--description">
          <div class="course-info__label">{{ Lang_translate('_DESCRIPTION','course') }}</div>
          <div class="course-info__value text--gray">
            {{ course.description|raw }}
          </div>
        </div>

        {% if course.show_quota %}
          <div class="course-info__table course-info__table--full course-info__table--quota">
            <div class="course-info__label">{{ Lang_translate('_USED_DISK','course') }}</div>
            <div class="course-info__value text--gray">
              <span class="text--green">{{ course.quota.actual_space }} MB</span> / {% if course.quota.unlimited %} {{ Lang_translate('_UNLIMITED_QUOTA','course') }} {% else %} {{ course.quota.max_quota }} {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="clear"></div>
      </div>

      {# <div class="box-title">MATERIALS</div>
      <div class="row course-info__materials">
        <div class="col-sm-10 course-info__file">
          <a href="#">
            <img src="{{templatePath}}static/images/icons/icon--file.svg" alt="download" class="course-info__icon course-info__icon--download" />
            Lesson slide - Can be a very long title due of the super text very long and impressive, nobody knows about it why i don't know
          </a>
        </div>
        <div class="col-sm-1 course-info__edit">
          <a href="#"><img src="{{templatePath}}static/images/icons/icon--edit.svg" alt="edit file" class="course-info__icon" /></a>
        </div>
        <div class="col-sm-1 course-info__delete">
          <a href="#"><img src="{{templatePath}}static/images/icons/icon--delete.svg" alt="delete file" class="course-info__icon" /></a>
        </div>

        <div class="col-sm-10 course-info__file">
          <a href="#">
            <img src="{{templatePath}}static/images/icons/icon--file.svg" alt="download" class="course-info__icon course-info__icon--download" />
            Lesson slide - Can be a very long title due of the super text very long and impressive, nobody knows about it why i don't know
          </a>
        </div>
        <div class="col-sm-1 course-info__edit">
          <a href="#"><img src="{{templatePath}}static/images/icons/icon--edit.svg" alt="edit file" class="course-info__icon" /></a>
        </div>
        <div class="col-sm-1 course-info__delete">
          <a href="#"><img src="{{templatePath}}static/images/icons/icon--delete.svg" alt="delete file" class="course-info__icon" /></a>
        </div>
      </div> #}
    </div>

    <div class="col-sm-6">
      {% if  course.show_users and course.Instructor.users is not empty %}
        <div class="col-sm-12 course-info__peoplecontainer">
          <div class="box-title box-title--people">{{  Lang_translate('_LEVEL_6', 'levels') }}</div>
          {% for user in course.Instructor.users %}
            {% include 'infocourse/peoplebox.html.twig' with {'user': user, 'role': course.Instructor.name} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if  course.show_users and course.Tutor.users is not empty %}
        <div class="col-sm-12 course-info__peoplecontainer">
          <div class="box-title box-title--people">{{  Lang_translate('_LEVEL_4', 'levels') }}</div>
          {% for user in course.Tutor.users %}
            {% include 'infocourse/peoplebox.html.twig' with {'route': route, 'user': user, 'role': course.Tutor.name} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if  course.show_users and course.Administrator.users is not empty %}
        <div class="col-sm-12 course-info__peoplecontainer">
          <div class="box-title box-title--people">{{  Lang_translate('_LEVEL_7', 'levels') }}</div>
          {% for user in course.Administrator.users %}
            {% include 'infocourse/peoplebox.html.twig' with {'route': route, 'user': user, 'role': course.Administrator.name} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if  course.show_users and course.Student.users is not empty %}
        <div class="col-sm-12 course-info__peoplecontainer">
          <div class="box-title box-title--people">{{  Lang_translate('_LEVEL_3', 'levels') }}</div>
          {% for user in course.Student.users %}
            {% include 'infocourse/peoplebox.html.twig' with {'route': route, 'user': user, 'role': course.Student.name} %}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
</div>

<div class="modal fade js-infocourse-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog--notitle modal-dialog--bio" role="document">
    <div class="modal-content modal-content--bio">
      <div class="modal-header modal-header--bio">
        <div class="course-info__peopleimage js-infocourse-dynamic-img">
        </div>
        <div class="course-info__peoplename course-info__peoplename--modal js-infocourse-dynamic-title"></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body modal-body--nopadding">
        <div class="modal__textcontainer">
          <div class="box-title box-title--modal js-infocourse-dynamic-role"></div>
          <div class="modal__text js-infocourse-dynamic-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if  route.edit and route.edit is not empty %}
<div class="table-container-below">
  <a class="infomod" href="{{route.edit.url}}">
    <img src="{{ Get_pathImage() }}standard/edit.png " alt="{{  Lang_translate('_MOD') }}" />
    {{  Lang_translate('_MOD') }}
  </a>
</div>
{% endif %}