{% extends "base/base.html.twig" %}

{% block content %}

    {% if (block.type == '4-col') %}
        {% set class =  ' d-col--12--desktop' %}
    {% elseif (block.type == '3-col') %}
        {% set class =  ' d-col--9--desktop' %}
    {% elseif (block.type == '2-col') %}
        {% set class =  ' d-col--6--desktop' %}
    {% elseif (block.type == '1-col') %}
        {% set class =  ' d-col--3--desktop' %}
    {% endif %}
    <div class="d-col d-col--12 {{ class }}">
        <div class="d-video js-dashboard-video"
             style="background-image: url('{{ block.data.cover }}')"
             data-video-id="{{ block.data.video_uuid }}" data-video-data-video-url="{{ block.data.video_id }}" data-video-type="{{ block.data.video_type }}">
        </div>
    </div>
    {% if block.data.video_id is not empty and block.data.video_type is not empty %}
        {% include 'base/videomodal.html.twig' with {'videoref': block.data.video_type ~ "-" ~ block.data.video_id,'videoUuid': block.data.video_uuid  } %}
    {% endif %}
{% endblock %}