<div class="filter-container">
    <select class="filter js-user-level-filter is-disabled" disabled>
        {% for i in 0..7 %}
            {% if loop.first %}
                <option value="false" selected>{{ translate('_ALL') }}</option>
            {% else %}
                <option value="{{ loop.index0 }}">{{ translate('_LEVEL_'~loop.index0) }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="button--exportcsv"><a href="index.php?r=lms/coursereport/export">{{ translate('_EXPORT_CSV','standard') }}</a></div>
</div>

<div class="table-responsive">
    <table id="table-details" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2" class="transparent"></th>
                <th colspan="100" class="text-center">
                    Voti degli studenti
                </th>
            </tr>
            <tr class="js-table-course-headers">
                <th>{{ translate('_STUDENTS','coursereport') }}</th>
                <th>
                    <select class="filter js-user-detail-filter is-disabled" disabled>
                    </select>
                </th>
                <th class="js-final-score text-center">{{ translate('_FINAL_SCORE','standard') }}
                    <div class="final-buttons-container">
                        <a class="js-finals-filter round-report" href="#" data-reportid=""><i class="fa fa-calculator" aria-hidden="true"></i></a>
                        <a class="js-finals-filter redo-final" href="#" data-reportid=""><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <a class="edit-final" href="#" data-reportid=""><i class="fa fa-edit" aria-hidden="true"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="js-details-table">
        </tbody>
    </table>
</div>

<div class="pagination pagination__initial js-pagination">

</div>

