<style>

  .filter-container {

    width: 100%;
    height: 55px;
    margin-bottom: 25px;
    position: relative;

    background-color: #F5F5F5;
  }

  .filter-container .filter,
  .table-responsive .filter {

    width: 150px;
    height: 34px;
    position: absolute;
    left: 10px;
    top: 10px;

    background-color: #FFF;
  }

  .table-responsive .filter {

    position: relative;
    left: 0;
    top: 0;
    width: 185px;
  }

  .filter-container .button--exportcsv {

    width: 100px;
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 5px 0px;

    color: white;
    border-radius: 3px;
    background-color: #aaa;

    text-align: center;
  }

  .loading {

    text-align: center;
    font-size: 18px;
  }

</style>



<div class="filter-container">
  <select class="filter">
    <option value="" disabled selected hidden>Filter</option>
  </select>

  <div class="button--exportcsv">EXPORT CSV</div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2" class="transparent"></th>
                <th class="text-center">
                    {#<a class="activities-nav activities-nav--prev js-prev-activities"><i class="fa fa-chevron-left"></i></a>#}
                    ACTIVITIES
                    {#<a class="activities-nav activities-nav--next js-next-activities"><i class="fa fa-chevron-right"></i></a>#}
                </th>
                <th class="transparent"></th>
            </tr>
            <tr>
                <th>User</th>
                <th>
                  <select class="filter js-user-detail-filter">
                    <option value="" disabled selected>Email</option>
                  </select>
                </th>
                <th class="has-subtable">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            {% for test in details['activities'] %}
                                <th class="text-center">{{ test }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                    </table>
                </th>
                <th class="text-center">Final</th>
            </tr>
        </thead>
        <tbody>
        {% for student in details['students'] %}
            <tr>
                <td class="name">{{ student.name }}</td>
                <td class="email">{{ student.email }}</td>
                <td class="has-subtable">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                        {% for result in student['activities_results'] %}
                            {% if result == 'true' %}
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            {% elseif result == 'false' %}
                            <td class="text-center">-</td>
                            {% else %}
                            <td class="text-center">{{ result }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        </thead>
                    </table>
                </td>
                <td class="total text-center">{{ student.total_result }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="empty">
            <th colspan="4" class="loading"></th>
        </tfoot>
    </table>
</div>

