<style>

  .button--add {

    width: 190px;
    position: relative;

    background-color: #8baa18;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    text-transform: uppercase;
    color: #FFF;
  }

  .button--add span {
    padding: 0 10px;
  }

  .button--add:after {

    content: '\f107';

    position: absolute;
    top: 0;
    right: 12px;
    height: 26px;
    padding-left: 10px;
    padding-top: 3px;
    border-left: 1px solid #FFF;

    font-family: 'FontAwesome';
    font-size: 18px;
  }

  .button--add.active:after {

    content: '\f106';
  }

  .button--add .dropdown {

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #8baa18;
    margin: 0;
    margin-top: 5px;
    padding: 0 10px;

    opacity: 0;
    pointer-events: none;
  }

  .button--add.active .dropdown  {

    position: relative;

    padding: 0;
    list-style: none;
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 0;
  }

  .button--add .dropdown li a {

    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 5px 10px;
  }

  .button--add .dropdown li:first-child {

    padding-top: 5px;
    border-top: 1px solid white;
  }

  .button--add .dropdown li a:hover {

    background-color: #FFF;
    color: #8baa18;
  }


</style>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" class="transparent"></th>
                <th colspan="6">INFO</th>
                <th colspan="6">STATS</th>
                <th class="transparent"></th>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Type</td>
                <td>Max</td>
                <td>Required</td>
                <td>Weight</td>
                <td>Show</td>
                <td>Finale</td>
                <td>Passed Completed</td>
                <td>Not passed incomplete</td>
                <td>Checked</td>
                <td>Average</td>
                <td>Max Score</td>
                <td>Min Score</td>
                <td></td>
            </tr>
        </thead>
        <tbody class="course-sortable">
        {% for test in overview['tests'] %}
            <tr>
                <td class="handle"><i class="fa fa-sort"></i></td>
                <td class="name">{{ test.name }}</td>
                <td>{{ test.type }}</td>
                <td>{{ test.max }}</td>
                <td>{{ test.required }}</td>
                <td>{{ test.weight }}</td>
                {% if test.show == 'true' %}
                    <td class="text-center"><i class="fa fa-check"></i></td>
                {% else %}
                    <td class="text-center"><i class="fa fa-close"></i></td>
                {% endif %}
                {% if test.final == 'true' %}
                    <td class="text-center"><i class="fa fa-check"></i></td>
                {% else %}
                    <td class="text-center"><i class="fa fa-close"></i></td>
                {% endif %}
                <td><a href="{{ test.passed.link }}">{{ test.passed.value }}</a></td>
                <td><a href="{{ test.not_passed.link }}">{{ test.not_passed.value }}</a></td>
                <td><a href="{{ test.checked.link }}">{{ test.checked.value }}</a></td>
                <td>{{ test.average }}</td>
                <td>{{ test.max_score }}</td>
                <td>{{ test.min_score }}</td>
                <td class="actions">
                    {% for action in test.actions %}
                        <a href="{{ action.link }}"><i class="fa fa-{{ action.icon }}"></i></a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="empty">
            <th colspan="15"></th>
        </tfoot>
    </table>

</div>

<div class="button--add">
  <span>ADD NEW</span>
  <ul class="dropdown">
    <li><a href="#">NUOVA ATTIVITA'</a></li>
    <li><a href="#">NUOVO OGGETTO SCORM</a></li>
  </ul>
</div>



<script type="text/javascript">
  var fixHelper = function(e, ui) {
    ui.children().each(function() {
      var $that = $(this);
      $that.width($that.width());
    });
    return ui;
  };
  $('.course-sortable').sortable({
    handle: '.handle',
    helper: fixHelper
  }).disableSelection();


  var $buttonAdd = $('.button--add');

  $buttonAdd.on('click', function (e) {

    $(this).toggleClass('active');
  })

</script>