<div class="table-responsive">
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 30px">
            <col style="width: 200px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 85px">
            <col style="width: 85px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 75px">
            <col style="width: 100px">
            <col style="width: 85px">
        </colgroup>
        <thead>
        <tr>
            <th colspan="2" class="transparent"></th>
            <th colspan="6">{{ translate('_INFO','coursereport') }}</th>
            <th colspan="7">{{ translate('_DETAILS','standard') }}</th>
            <th class="transparent"></th>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>{{ translate('_TYPE','standard') }}</td>
            <td>{{ translate('_TEST_QUEST_MAXTESTSCORE','test') }}</td>
            <td>{{ translate('_REQUIRED_SCORE','standard') }}</td>
            <td>{{ translate('_WEIGHT','coursereport') }}</td>
            <td>{{ translate('_SHOW_TO_USER','coursereport') }}</td>
            <td>{{ translate('_USE_FOR_FINAL','coursereport') }}</td>
            <td>{{ translate('_PASSED','coursereport') }}</td>
            <td>{{ translate('_NOT_PASSED','coursereport') }}</td>
            <td>{{ translate('_NOT_CHECKED','coursereport') }}</td>
            <td>{{ translate('_AVERANGE','standard') }}</td>
            <td>{{ translate('_MAX_SCORE','standard') }}</td>
            <td>{{ translate('_MIN_SCORE','standard') }}</td>
            <td>{{ translate('_SHOW_IN_DETAIL','test') }}</td>
            <td></td>
        </tr>
        </thead>
        <tbody class="course-sortable">
        {% for test in overview['tests'] %}
            <tr>
                <td class="handle"><i class="fa fa-sort"></i></td>
                <td class="name">{{ test.name }}</td>
                <td class="table-cell">{{ test.typeString }}</td>
                <td class="table-cell">{{ test.max }}</td>
                <td class="table-cell">{{ test.required }}</td>
                <td class="table-cell">{{ test.weight }}</td>
                {% if test.show %}
                    <td class="text-center table-cell"><i class="fa fa-check"></i></td>
                {% else %}
                    <td class="text-center table-cell"><i class="fa fa-close"></i></td>
                {% endif %}
                {% if test.final %}
                    <td class="text-center table-cell"><i class="fa fa-check"></i></td>
                {% else %}
                    <td class="text-center table-cell"><i class="fa fa-close"></i></td>
                {% endif %}
                <td class="table-cell">
                    {% if test.passed.active %}
                        <a href="{{ test.passed.link }}">{{ test.passed.value }}</a>
                    {% else %}
                        {{ test.passed.value }}
                    {% endif %}
                </td>
                <td class="table-cell">
                    {% if test.not_passed.active %}
                        <a href="{{ test.not_passed.link }}">{{ test.not_passed.value }}</a>
                    {% else %}
                        {{ test.not_passed.value }}
                    {% endif %}
                </td>
                <td class="table-cell">
                    {% if test.not_checked.active %}
                        <a href="{{ test.not_checked.link }}">{{ test.not_checked.value }}</a>
                    {% else %}
                        {{ test.not_checked.value }}
                    {% endif %}
                </td>
                <td class="table-cell">{{ test.average }}</td>
                <td class="table-cell">{{ test.max_score }}</td>
                <td class="table-cell">{{ test.min_score }}</td>
                <td class="table-cell">
                    <input class="js-set-detail-visibility" type="checkbox" data-value="{{ test.idReport }}" {% if test.showInDetail %}checked{% endif %}>
                </td>
                <td class="actions">
                    {% for action in test.actions %}
                        {% if action.visible %}
                            <a href="{{ action.link }}"><i class="fa fa-{{ action.icon }}"></i></a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="empty">
        <th colspan="15"></th>
        </tfoot>
    </table>

</div>

<div class="button--add">
    <span>{{ translate('_ADD_ACTIVITY','coursereport') }}</span>
    <ul class="dropdown">
        <li><a href="index.php?r=lms/coursereport/addactivity">{{ translate('_ADD_ACTIVITY_TITLE','coursereport') }}</a>
        </li>
        <li><a href="index.php?r=lms/coursereport/addscorm">{{ translate('_ADD_SCORM_RESULTS','coursereport') }}</a>
        </li>
    </ul>
</div>


<div class="activities-container">
    {% for activity in details['activities'] %}
        <div data-activityId="{{ activity.id }}" data-activityName="{{ activity.name }}"></div>
    {% endfor %}
</div>


<script type="text/javascript">

    activities = {{ details|json_encode(constant('JSON_HEX_APOS')) | raw }};

</script>
