{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ layout_path }}style/adm.css"/>
    <link rel="stylesheet" type="text/css" href="{{ layout_path }}style/lms-to-review.css"/>
    <link rel="stylesheet" type="text/css" href="{{ layout_path }}style/reset-fonts-grids.css" />

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ layout_path }}script/jquery.smartmenus.js"></script>        
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(function () {
            checkSelect(document.getElementById('course_type').value);

            YAHOO.util.Event.on(
                YAHOO.util.Selector.query('select#course_type'), 'change', function (e) {
                    checkSelect(this.value);
                });

        });

        function checkSelect(val) {
            if (val == 'elearning') {
                document.getElementById("auto_subscription").removeAttribute("disabled");
            }
            else {
                document.getElementById("auto_subscription").disabled = "disabled";
                document.getElementById("auto_subscription").checked = false;
            }
        }
         $(function() {
          // Forma SmartMenu init
          $('#main-menu').smartmenus({   
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
          });
          // feedback
          $('#container-feedback').click(function(){
              $( this ).fadeOut( 500 );
          });
        });        
        
        
    </script>
{% endblock %}

{% block content %}

<!-- menu_over -->
{{ evalPhp('Layout::zone', ['menu_over']) }}

<!-- blind nav -->
{{ evalPhp('Layout::zone', ['blind_navigation']) }}
<!-- container -->

<div id="admcontainer">

    <!-- feedback -->
    {{ evalPhp('Layout::zone', ['feedback']) }}

    <!-- content -->
    <div class="layout_colum_container">
        {{ evalPhp('Layout::zone', ['content']) }}
        <div class="nofloat"></div>
    </div>
</div>
<!-- footer -->
<div id="footer" class="layout_footer">
    {{ evalPhp('Layout::zone', ['footer']) }}
        {{ evalPhp('Layout::copyright') }}
</div>

<!-- scripts -->
{{ evalPhp('Layout::zone', ['scripts']) }}
<!-- debug -->
{{ evalPhp('Layout::zone', ['debug']) }}
<!-- def_lang -->
{{ evalPhp('Layout::zone', ['def_lang']) }}
{% endblock %}