{% extends "base.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ layout_path }}style/adm.css"/>
<link rel="stylesheet" type="text/css" href="{{ layout_path }}style/lms-to-review.css"/>
<link rel="stylesheet" type="text/css" href="../templates/standard/style/reset-fonts-grids.css" />


<link rel="stylesheet" type="text/css" href="{{ layout_path }}style/navbar-inverse.css"/>
<link rel="stylesheet" type="text/css" href="{{ layout_path }}style/MegaNavbar.css"/>
<script type="text/javascript" src="{{ layout_path }}script/menu.js"></script> 


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(function () {
            checkSelect(document.getElementById('course_type').value);

            YAHOO.util.Event.on(
                YAHOO.util.Selector.query('select#course_type'), 'change', function (e) {
                    checkSelect(this.value);
                });

        });

        function checkSelect(val) {
            if (val == 'elearning') {
                document.getElementById("auto_subscription").removeAttribute("disabled");
            }
            else {
                document.getElementById("auto_subscription").disabled = "disabled";
                document.getElementById("auto_subscription").checked = false;
            }
        }
    </script>
{% endblock %}

{% block content %}
<!-- blind nav -->
{{ evalPhp('Layout::zone', ['blind_navigation']) }}
<!-- feedback -->
{{ evalPhp('Layout::zone', ['feedback']) }}
<!-- container -->
<div id="admcontainer">
   
    <!-- header -->
   <!--
    <div id="header" class="layout_header">
        {% if not evalPhp('Docebo::user').isAnonymous() %}
            <div class="user_panel">
                <p>
                    {% if not evalPhp('Docebo::user').isAnonymous() %}
                    <b><span> {{ evalPhp('Lang::t', ['_WELCOME', 'profile']) }}, </span>
                        {{ evalPhp('Docebo::user').getUserName() }}</b>
                    {% endif %}
                    <br/>
                    {{ "now"|date("Y-m-d H:i:s") }}<br/>
                    <span class="select-language">{{ evalPhp('Layout::change_lang') }}</span>
                </p>
                {% if not evalPhp('Docebo::user').isAnonymous() %}
                <ul>
                    <li><a class="identity" href="index.php?r=lms/profile/show">
                            <span>{{ evalPhp('Lang::t', ['_PROFILE', 'profile']) }}</span>
                        </a></li>
                    <li>
                        <a class="logout" href="index.php?modname=login&amp;op=logout">
                            <span>{{ evalPhp('Lang::t', ['_LOGOUT', 'standard']) }}</span>
                        </a></li>
                </ul>
                {% endif %}
            </div>
        {% endif %}
        <img class="left_logo" src="{{ evalPhp('Layout::path') }}images/company_logo.png" alt="Left logo"/>

        <div class="nofloat"></div>
        {{ evalPhp('Layout::zone', ['header']) }}
    </div>
    -->

    
    <!-- menu_over -->
    {{ evalPhp('Layout::zone', ['menu_over']) }}
    <!-- content -->
    <div class="layout_colum_container">
        {{ evalPhp('Layout::zone', ['content']) }}
        <div class="nofloat"></div>
    </div>
</div>
<!-- footer -->
<div id="footer" class="layout_footer">
    {{ evalPhp('Layout::zone', ['footer']) }}
    <div class="copyright">
        {{ evalPhp('Layout::copyright') }}
    </div>
</div>

<!-- scripts -->
{{ evalPhp('Layout::zone', ['scripts']) }}
<!-- debug -->
{{ evalPhp('Layout::zone', ['debug']) }}
<!-- def_lang -->
{{ evalPhp('Layout::zone', ['def_lang']) }}
{% endblock %}