<!DOCTYPE html>
<html lang="{{ Layout_getLangCode() }}">

<head>
     {% block compatibility %}
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
     {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ Layout_getTitle() }}</title>
    <!-- zone  -->
    {{ Layout_getZone('meta') }}
    <!-- meta  -->
    {{ Layout_getMeta() }}
    <link rel="shortcut icon" href="{{ Layout_getPath() }}images/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="{{ Layout_getPath() }}images/favicon.ico"/>

    <!-- reset and font stylesheet -->
    {{ Layout_getResetter() }}

    <!-- JQuery, Bootstrap  -->
    {% block jquery_core %}
        {{ jqueryLib|raw }}
    {% endblock %}

    <script type="text/javascript">
        window.frontend = {};
        window.frontend.config = JSON.parse('{{ clientConfig|raw }}');

    </script>

    {% block bootstrap %}
    {{ boostrap|raw }}

    <script>$.fn.bootstrapBtn = $.fn.button.noConflict();</script>
    {% endblock %}


    {% block jsAddons %}
    <!-- addons: js -->
    {{ jsAddons|raw }}
    {% endblock %}

    {% block css_addons %}
    <!-- addons: css -->
    {{ cssAddons|raw }}
    {% endblock %}

    {% block locale_calendar %}
    <!-- locale data format -->
    {{ locale_calendar|raw }}
    {% endblock %}



    <!-- specific stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/base.css?v={{ Template_getVersion() }}"/>
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/responsive.css?v={{ Template_getVersion() }}"/>

    <!-- to be eliminated -->
    {{ Yui_load() }}
    <!-- printer stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/print.css?v={{ Template_getVersion() }}" media="print"/>
    <!-- Page Head area -->
    {{ Layout_getZone('page_head') }}
    {{ Layout_getRtl() }}
    {% block pagehead %}
    {% endblock %}


    <!-- Custom css area -->
    {% block stylesheet %}
    {% endblock %}

    <!-- Custom Javascripts area -->

    <script type="text/javascript" src="{{ Layout_getPath() }}script/tabnav.js?v={{ Template_getVersion() }}"></script>
    <script type="text/javascript" src="{{ Layout_getPath() }}static/main.js?v={{ Template_getVersion() }}"></script>

    {% block javascript %}
    {% endblock %}


    <!-- Restyling -->
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}static/main.{{ Layout_getHighContrastCss() }}min.css?v={{ Template_getVersion() }}">
    <!--
    To use or edit the not minified css uncomment this portion of code
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}static/main.css">
    -->
    {% if custom_css_path is defined %}
    <link rel="stylesheet" type="text/css" href="{{ custom_css_path }}?v={{ Template_getVersion() }}" />
    {% endif %}
</head>
<body class="yui-skin-docebo yui-skin-sam">

    {#<div class="container-fluid">      #}
    {% block content %}
    {% endblock %}
        {{ Layout_getAnalytics() }}
    {#</div>#}
</body>
</html>