<!DOCTYPE html>
<html lang="{{ evalPhp('Layout::lang_code') }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Fix funzionamento scorm su IE9-->
    <meta http-equiv="x-ua-compatible" content="IE=8"/>
    <!--END -->

    <title>[TWIG] {{ evalPhp('Layout::title') }}</title>
    {{ evalPhp('Layout::zone', ['meta']) }}
    {{ evalPhp('Layout::meta') }}
    <link rel="shortcut icon" href="{{ evalPhp('Layout::path') }}images/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="{{ evalPhp('Layout::path') }}images/favicon.ico"/>
    <!-- reset and font stylesheet -->
    {{ evalPhp('Layout::resetter') }}
    <!-- common stylesheet -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/base.css"/>
    {% block stylesheet %}
    {% endblock %}
    <!-- specific stylesheet -->
    {{ evalPhp('YuiLib::load', ['base']) }}
    <!-- printer stylesheet-->
    <link rel="stylesheet" type="text/css" href="<?php echo Layout::path(); ?>style/print.css" media="print"/>
    {{ evalPhp('Layout::accessibility') }}
    <!-- Page Head area -->
    {{ evalPhp('Layout::zone', ['page_head']) }}
    {{ evalPhp('Layout::rtl') }}
    {% block pagehead %}
    {% endblock %}
    <!-- Javascripts area -->
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body class="yui-skin-docebo yui-skin-sam">
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    <?php echo Layout::analytics(); ?>
    </div>
</body>
</html>