<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ evalPhp('Layout::lang_code') }}">
	<head>
	    <!--Fix funzionamento scorm su IE9-->
        <meta http-equiv="x-ua-compatible" content="IE=9" />
        <!--END -->

		<title>{{ evalPhp('Layout::title') }}</title>
		{{ evalPhp('Layout::zone', ['meta']) }}
		<link rel="shortcut icon" href="{{ evalPhp('Layout::path') }}images/favicon.png" type="image/png" />
		<link rel="shortcut icon" href="{{ evalPhp('Layout::path') }}images/favicon.ico" />
		<!-- reset and font stylesheet -->
		{{ evalPhp('Layout::resetter') }}
		<!-- common stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/lms-home.css" />
		{{ evalPhp('Layout::rtl') }}
		<!-- specific stylesheet -->
		{{ evalPhp('YuiLib::load', ['base']) }}
		<!-- printer stylesheet-->
		{{ evalPhp('Layout::accessibility') }}
		<!-- Page Head area -->
		{{ evalPhp('Layout::zone', ['page_head']) }}

		<!-- JQuery, Bootstrap  -->
		{% block jquery_core %}
			{{ jqueryLib|raw }}
		{% endblock %}

		{% block bootstrap %}
			{{ boostrap|raw }}
		{% endblock %}

		{% block jquery_addons %}
			<!-- addons: js -->
			{{ jqueryAddons|raw }}
		{% endblock %}

		{% block css_addons %}
			<!-- addons: css -->
			{{ cssAddons|raw }}
		{% endblock %}

		<!-- Restyling -->
		<link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}static/main.css" />
		<script type="text/js" src="{{ evalPhp('Layout::path') }}static/main.js"></script>
	</head>
	<body class="homepage">

		<div class="homepage__content">
			{{ evalPhp('Layout::zone', ['content']) }}
		</div>

		{#
		<!-- blind nav -->
		{{ evalPhp('Layout::zone', ['blind_navigation']) }}
		<!-- header -->
		<div class="header">
			<div class="select-language">
				{{ evalPhp('Lang::t', ['_CHANGELANG', 'register']) }}: {{ evalPhp('Layout::change_lang') }}
			</div>
			<!-- <h1 id="main_title"><a href="index.php"><?php echo Lang::t('_MAIN_TITLE', 'login'); ?></a></h1>-->
			<a href="index.php"><img class="left_logo" src="{{ evalPhp('Layout::path') }}images/company_logo.png" alt="Left logo" /></a>
		</div>
		<div class="webcontent">
			{{ evalPhp('Layout::zone', ['content']) }}
		</div>
		#}

		<!-- footer -->
		<div class="homepage__footer">
			{{ evalPhp('Layout::zone', ['footer']) }}
			{{ evalPhp('Layout::copyright') }}
		</div>
		<!-- def lang -->
		{{ evalPhp('Layout::zone', ['def_lang']) }}
		<!-- scripts -->
		{{ evalPhp('Layout::zone', ['scripts']) }}
		<!-- end scripts -->
		{{ evalPhp('Layout::zone', ['debug']) }}
		{{ evalPhp('Layout::analytics') }}
	</body>
</html>