{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{layout_path}}style/lms-home.css"/>
{% endblock %}

{% block content %}
    <div class="header">
            <div class="select-language">
                {{ changeLanguage_text }}: {{ changeLanguageBox|raw }}
            </div>
        <a href="index.php"><img class="left_logo" src="{{ layout_path }}images/company_logo.png" alt="Left logo"/></a>
        <div class="nofloat"></div>
    </div>
    <div class="content">
            <div class="homecatalogue">
                {{ catalogue|raw }}
            </div>
            <div class="{{ login_box_css }}">
                <h2>LOGIN</h2>
                {{ social_login | raw }}
                {{ login_form | raw }}
                {{ service_msg | raw }}
            </div>
    </div>

    <!-- footer -->
    <div class="footer">
            {{layout_zone_footer | raw}}
            {{ login_links|raw }}
        <div class="copyright">
            {{ copyright|raw }}
        </div>
    </div>
    <div class="external_page">{{ external_page|raw }}</div>
    <div class="webcontent">
        <div class="box">
            <h3>{{ configuration_maintenance_text|raw }}</h3>
            <div class="text">
                {{ login_maintenance_text|raw }}
            </div>
        </div>
        <div class="box">
            <h3>{{ homepage_text|raw }}</h3>

            <div class="text">
                {{ intro_text|raw }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            try {
                window.document.getElementById('login_userid').focus();
            } catch (e) {
            }
        }
    </script>
{% endblock %}