{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/base-old-treeview.css?v={{ Template_getVersion() }}"/>
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/lms.css?v={{ Template_getVersion() }}"/>
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/lms-to-review.css?v={{ Template_getVersion() }}"/>
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/lms-menu.css?v={{ Template_getVersion() }}"/>
    <link rel="stylesheet" type="text/css" href="{{ Layout_getPath() }}style/table-responsive.css?v={{ Template_getVersion() }}"/>

{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{{ Get_relPath('base') }}/lib/js_utils.js?v={{ Template_getVersion() }}"></script>

    <script>
        $(function () {
            $('div.menu-area a').bind('click', function (event) {
                event.preventDefault();
                id = $(this).attr('rel');
                $('ul.float-left').hide();
                $('ul#' + id).show();
                $('div.menu-area').removeClass('menu-selected');
                $(this).parent().addClass('menu-selected');
            });

            $("#accordion").accordion({
                collapsible: true,
                active: false,
                icons: false
            });

            // feedback
            $('#container-feedback').click(function () {
                event.preventDefault();
                $(this).fadeOut(500);
            });

             // setting correct navigation with keyboard tab
            $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('tabindex',-1);
            $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('aria-hidden',true);
            $('#course_search_simple_filter_options .selectpicker').attr('tabindex',0);
            $('#course_search_simple_filter_options .selectpicker').attr('aria-label','Select');

            $("#c-button--slide-right").click(function(){
                $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('tabindex',0);
                $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('aria-hidden',false);
             });
            $(".c-menu__close").click(function(){
                $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('tabindex',-1);
                $('#c-menu--slide-right a, #c-menu--slide-right input, #c-menu--slide-right select, #c-menu--slide-right button, #c-menu--slide-right textarea').attr('aria-hidden',true);
            });
        });
    </script>


{% endblock %}

{% block content %}

    {{ Layout_getZone('meta') }}
    {{ Layout_getMeta() }}

    {{ Layout_getRtl() }}
    <!-- blind nav -->
    {{ Layout_getZone('blind_navigation') }}

    <!-- container -->
    <div id="container">
        <!-- header -->

        <!-- menu_over -->
        <div id="menu_over" class="layout_menu_over">
        <!-- feedback -->
            {{ Layout_getZone('feedback') }}
            {{ Layout_getCart() }} <!-- ????? -->

            <!-- header -->
            <header class="header white-bg">
                <nav>
                    <div class="row-fluid" id="lms_menu_container" >
                        <div class="navbar-header">
                            {{ Layout_getZone('logo') }}
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="glyphicon glyphicon-align-justify"><span class="screenreader">{{ Lang_translate('_MAN_MENU') }}</span></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                {{ Layout_getZone('main-menu') }}
                                {{ Layout_getZone('cart') }} <!-- ????? -->
                                {{ Layout_getZone('profile') }}
                            </ul>
                        </div>
                        <div id="c-mask" class="c-mask"></div>
                    </div>
                </nav>
            </header>

            {# Temporary solution before helpdesk refactoring. #}
            {{ Layout_getZone('helpdesk') }}
            {# ############################################### #}

        </div>


        <!-- content -->
        <div id="lms_main_container" class="row">

                <!-- MENU LATERALE ON/OFF -->
                <div id="course-info-boot" class="col-md-12">

                    {{ Layout_getZone('menu') }}
                    {% include 'coursemenu_lat.html.twig' with {dropdown:dropdown, course_name:course_name, course_img:course_img } %}
                </div>

            <div id="yui-main-boot" class='col-md-12'>

                {{ direct_play|raw }}

            </div>

            <div class="nofloat"></div>
        </div>
        <!-- footer -->
        <div id="footer" class="layout_footer">
            {{ Layout_getZone('footer') }}

            {{ Layout_getCopyright() }}


        </div>
    </div>

    <!-- scripts -->
    {{ Layout_getZone('scripts') }}
    <!-- debug -->
    {{ Layout_getZone('debug') }}
    <!-- def_lang -->
    {{ Layout_getZone('def_lang') }}

{% endblock %}

