{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/lms.css"/>
    <link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/lms-to-review.css"/>
    <link rel="stylesheet" type="text/css" href="{{ evalPhp('Layout::path') }}style/lms-menu.css"/>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ evalPhp('Get::rel_path', ['base']) }}/lib/js_utils.js"></script>
        <script>
            $(function() {
                // feedback
                $('#container-feedback').click(function(){
                   event.preventDefault();
                    $( this ).fadeOut( 500 );
                });
            });
        </script>    
{% endblock %}

{% block content %}
    <!-- blind nav -->
    {{ evalPhp('Layout::zone', ['blind_navigation']) }}
    <!-- container -->
    <div id="container">
        
        
        
        
        
        <!-- menu_over -->
        <div id="menu_over" class="layout_menu_over">
        <!-- feedback -->
          {{ evalPhp('Layout::zone', ['feedback']) }}
          {{ evalPhp('Layout::cart') }}
          {{ evalPhp('Layout::zone', ['menu_over']) }}
                    
        </div>
        
        
    
        
        <!-- content  -->   
        {#{{ <div class="layout_colum_container"> }}#}
        <div class="row">
            <div class="container-fluid">
                {{ evalPhp('Layout::zone', ['content']) }}
                
                <div class="nofloat"></div>
            </div>
        </div>
    </div>
    <!-- footer  -->
    <div id="footer" class="layout_footer">
        {{ evalPhp('Layout::zone', ['footer']) }}
            {{ evalPhp('Layout::copyright') }}
    </div>
        
        
    
    
    <!-- scripts -->
    {{ evalPhp('Layout::zone', ['scripts']) }}
    <!-- debug -->
    {{ evalPhp('Layout::zone', ['debug']) }}
    <!-- def_lang -->
    {{ evalPhp('Layout::zone', ['def_lang']) }}
{% endblock %}