<header class="header white-bg">
    <nav>
        <div class="row-fluid" id="lms_menu_container" >
            <div class="navbar-header" >
                <a class="navbar-brand" href="?r=elearning/show&sop=unregistercourse">
                    <img class="left_logo" src="{{ evalPhp('Layout::path') }}/images/company_logo.png" alt="logo di sinistra"/>
                </a> 
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for item in menu %}
                    <li class="{{ item.li_class }}"><a href="{{ item.href }}" class="{{ item.a_class }}">{{ item.title|raw }}</a></li>
                    {% endfor %}
                    {% if cart %}
                    <li>
                        <a href="index.php?r=cart/show" id="cart_action" title="{{ translate('_CART', 'cart') }}">
                            <span  class="glyphicon glyphicon-shopping-cart top-menu__label">
                                <sub id="cart_element" class="num_notify_bar">{{ cart }}</sub>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="green_menu">                                
                        <div id="o-wrapper" class="o-wrapper">
                            <button id="c-button--slide-right" class="c-button" >
                                <a data-toggle="dropdown" href="#" title="{{ translate('_PROFILE', 'menu_course') }}">
                                    <span class="username icon--profile">{{ user.getUserName() }}</span>
                                </a>
                            </button>
                        </div>        
                    </li>
                </ul>
            </div>
            <div id="c-mask" class="c-mask"></div>
        </div>
    </nav>
    <div id="c-menu--slide-right" class="c-menu c-menu--slide-right user-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="c-menu__close"><span class="glyphicon glyphicon-remove">{{ translate('_PROFILE', 'organization') }}</span></a>
                </div>
                <div class="col-xs-6">
                    <a title="{{ translate('_LOGOUT', 'standard') }}" href="{{ evalPhp('Get::rel_path', ['base']) }}/index.php?r={{ evalPhp('constant', ['_logout_']) }}">
                        <span class="glyphicon glyphicon-off">{{ translate('_LOGOUT', 'standard') }}</span>
                    </a>
                </div>
            </div>
            <div class="tabnav js-tabnav">
                {% if profile or credits %}
                    <div class="tabnav__label-wrapper">
                    {% if profile %}
                        <div class="tabnav__label selected" data-tab="profile">{{ translate('_PROFILE', 'standard') }}</div>
                    {% endif %}
                    {% if credits %}
                        <div class="tabnav__label{% if not profile %} selected{% endif %}" data-tab="credits">{{ translate('_TIME_PERIODS', 'standard') }}</div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="tabnav__content-wrapper">
            {% if profile %}
                <div class="tabnav__content tabnav__content--profile is-visible">{{ profile.homeUserProfile('normal', false, false)|raw }}</div>
            {% endif %}
            {% if credits %}
                <div class="tabnav__content tabnav__content--profile{% if not profile %} is-visible{% endif %}">
                    <div class="row credits">
                        <div class="col-xs-12">
                            <div class="js-credits-ajax-container">{{ credits }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="row course-subscription">
                <div class="col-xs-12">
                    {{ subscribe_course }}
                </div>
            </div>
            <div class="row news">
                <div class="col-xs-12">
                    {{ news }}
                </div>
            </div>
            {% if evalPhp('count', [languages]) > 1 %}
            <div class="row lang">
                <div class="col-xs-6">
                    <p>{{ translate('_CHANGELANG', 'register') }}</p>
                </div>
                <div class="col-xs-6">
                    {{ evalPhp('Layout::buildLanguages') }}
                </div>
            </div>
            {% endif %}
            <div class="row footer"></div>            
        </div>
    </div>
</header>
