<div class="dashboard__infoBlock dashboard__infoBlock--file">
    <div class="form-group">
        <label class="dashboard__label" for="{{ block.postData.block }}-{{ index }}-file">{{translate('_file_'~ form.class,'dashboardsetting')}}</label>

        <div class="dashboard__infoContainer">
            <input type="file" name="{{ form.name }}" class="form-control-file js-extra-setting js-upload-file" id="{{ block.postData.block }}-file" data-block="{{ block.postData.block }}" data-types="image/gif,image/jpeg,image/png"> <!-- @TODO PEPPE: Dinamicizzare, basta che mi passi le estensioni ammesse come stringa separate da virgola. Poi converto io in array  -->
            <input type="hidden" class="form-control-file" id="{{ block.postData.block }}-{{ index }}-file-string" data-block="{{ block.postData.block }}-{{ index }}">
        </div>

        <div class="dashboard__helper">Tipi di file ammessi: .jpg, .png, .gif</div> <!-- @TODO PEPPE: Dinamicizzare, basta che mi passi le estensioni ammesse come stringa separate da virgola.  -->
        <div class="dashboard__error">L'immagine caricata non ha una delle seguente estensioni:<br> .jpg, .png, .gif</div> <!-- @TODO PEPPE: Dinamicizzare, basta che mi passi le estensioni ammesse come stringa separate da virgola. -->
    </div>
</div>
