<div class="dashboard__infoBlock dashboard__infoBlock--image">
    <div class="form-group">
        <label class="dashboard__label" for="{{ block.postData.block }}-{{ index }}-image">{{translate('_image_'~ form.class,'dashboardsetting')}}</label>

        <div class="dashboard__infoContainer">
            <input type="file" name="{{ form.name }}" class="form-control-image js-extra-setting js-upload-file" id="{{ block.postData.block }}-image" data-block="{{ block.postData.block }}">
            <input type="hidden" class="form-control-image" id="{{ block.postData.block }}-{{ index }}-image-string" data-block="{{ block.postData.block }}-{{ index }}">
        </div>

        <div class="dashboard__helper">Tipi di file ammessi: .jpg, .png, .gif</div>
        <div class="dashboard__error">L'immagine caricata non ha una delle seguente estensioni:<br> .jpg, .png, .gif</div>
    </div>
</div>
