<div class="dashboard__radio dashboard__radio--block">
    <div class="form-group">
        <label for="{{ block.postData.block }}-{{ index }}-file">{{translate('_radio_'~ form.class,'dashboardsetting')}}</label>

        {% for key,value in form.values %}

            <input type="radio" value="{{ block.postData.block }}_{{ index }}_{{ key }}" {% if block.type == type %}checked="checked"{% endif %}>{{ value }}</input>

        {% endfor %}
    </div>
</div>