<div class="dashboard__image dashboard__image--block">
    <div class="form-group">
        <label for="{{ block.postData.block }}-{{ index }}-image">{{translate('_image_'~ form.class,'dashboardsetting')}}</label>
        <input type="file" class="form-control-image" id="{{ block.postData.block }}-{{ index }}-image" data-block="{{ block.postData.block }}-{{ index }}">
        <input type="hidden" class="form-control-image" id="{{ block.postData.block }}-{{ index }}-image-string" data-block="{{ block.postData.block }}-{{ index }}">
    </div>
</div>