<div class="dashboard__input dashboard__input--block">
    <div class="form-group">
        <label for="{{ block.postData.block }}-{{ loop.index0 }}-input">{{translate('_input','dashboardsetting')}}</label>
        <input class="form-control" type="text" placeholder="{{ translate('_input_placeholder','dashboardsetting')}}" data-block="{{ block.postData.block }}-{{ loop.index0 }}">
    </div>
</div>