<div class="dashboard__infoBlock dashboard__infoBlock--input">
    <div class="form-group">
        <label class="dashboard__label" for="{{ block.postData.block }}-{{ index }}-file">{{translate('_input_'~ form.class,'dashboardsetting')}}</label>
        <div class="dashboard__infoContainer">
            <input name="{{ form.name }}" class="form-control js-extra-setting" type="text" placeholder="{{ translate('_input_placeholder','dashboardsetting')}}" data-block="{{ block.postData.block }}-{{ loop.index0 }}">
        </div>
    </div>
</div>
