<div class="dashboard__input dashboard__input--block">
    <div class="form-group">
        <label for="{{ block.postData.block }}-{{ index }}-file">{{translate('_url_'~ form.class,'dashboardsetting')}}</label>
        <input class="form-control" type="url" placeholder="{{ translate('_input_placeholder','dashboardsetting')}}" data-block="{{ block.postData.block }}-{{ loop.index0 }}">
    </div>
</div>