<div class="dashboard__checkbox dashboard__checkbox--block">
    <div class="form-group">
        <label for="{{ block.postData.block }}-{{ index }}-file">{{translate('_checkbox_'~ form.class,'dashboardsetting')}}</label>

        {% for key,value in form.values %}

            <input type="checkbox" class="checkbox" value="{{ block.postData.block }}_{{ index }}_{{ key }}" {% if block.type == type %}checked="checked"{% endif %}>{{ value }}</input>

        {% endfor %}
    </div>
</div>