<div class="dropdown" id="createitem_{{ tab.type }}">
    <button class="btn btn-default dropdown-toggle create-object-button" type="button" id="dropdownMenuBtn_{{ tab.type }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ Lang_translate('_CREATE_NEW', 'standard') }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="dropdownMenu_{{ tab.type }}" aria-labelledby="dropdownMenu_{{ tab.type }}">
        {% for el in lo_types %}
            <li id="type_{{ el.type }}" data-id="{{ el.type }}" class="folderView__li itemType">
                <div class="folderView__el {% if el.type %}fv-is-{{ el.type }}{% else %}fv-is-folder{% endif %}">
                    <a href="#" class="folderView__label" title="{{ el.title }}">{{ el.title }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="row createFolderForm hidden">
        <div class="col-lg-12 inputBtnContainer">
            <div class="createFolder__link ft-is-folder">
                <input type="text" class="createFolder__input resizeInput" placeholder="{{ Lang_translate('_ORGFOLDERNAME', 'storage') }}"/>
                <input type="hidden" name="authentic_request" value="{{ Util_getSignature() }}" />
            </div>
            <div class="btnContainer">
                <button class="btn cancelCreateFolder__btn noBorder" type="reset"></button>
                <button class="btn createFolder__btn noBorder" type="button"></button>
            </div>
            <div class="createFolder__input_err hidden"></div>
        </div>
    </div>
</div>
