<section class="vh-100 section-check">
  <div class="container py-5 h-100 container-center">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6 col-centered" style="float:none;">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2"><span class="h2 me-2">FORMALMS</span> 
              
            <span class="badge bg-danger">STATUS</span></p> 
             <p class="text-muted pb-2">{{ "now"|date("d/m/Y H:i:s") }}</p>
             <br /><br />
              <p class="mb-2"><span class="h4 me-2"><b>{{ descriptions["title"]}}</b></span> </p>   <br />
              <p class="mb-2"><span class="h5 me-2">{{ descriptions["description"]}}</span> </p>

            <ul class="list-group rounded-0">
              
            {% for keycheck,check in checks %}
                <li class="list-group-item border-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="{{ keycheck }}"  {{ (keycheck in errorChecks) ? '':'checked'}} style='cursor:not-allowed' onClick="return false;" />
               
                    <b {{ (keycheck in errorChecks) ? 'style=color:red;':''}}>{{ check }}</b>
                </li>

            {% endfor %}
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>