{% extends "Base/base.html.twig" %}

{% block content %}
    {#Course news#}
    <div class="d-col d-col--12 d-col--3--desktop">
      <div class="d-advise d-widget">
        <h3 class="d-title">
          {{ translate('_NEWS','standard') }}
        </h3>
        {% for advise in block.courseAdvices %}
          <div class="d-advise__item">
            <div class="d-advise__date">
              {{ advise.date }}
            </div>
            <div class="d-advise__title">
              {{ advise.title }}
            </div>
            <div class="d-advise__desc">
              {{ advise.description }}
            </div>
          </div> 
        {% endfor %}
      </div>
    </div>  
    {# <pre>
      {{ dump(block) }}
    </pre> #}
{% endblock %}