{% extends 'partials/course-box.html.twig' %}
{% set courseBoxClasses = [] %}
{% if not course.canEnter %}
    {% set courseBoxClasses = courseBoxClasses|merge(['course-box--disabled']) %}
{% endif %}

 {% block entercourse %}
     {% if course.is_enrolled %}

         <a class="forma-button course-box__cta__button" title="{{ course.name }}"
            href="javascript:void(0)"
            rel= {{ course.rel }}>
             <span class="forma-button__label">
        {% if course.auto_unsubscribe == 0 %}
            {{ Lang_translate('_USER_STATUS_ENTER', 'catalogue') }}
        {% elseif course.auto_unsubscribe == 1 or course.auto_unsubscribe == 2 %}
            {{ course.unsubscribe_date_limit }}
         {% endif %}
                 </span>
             </a>

         {% else %}
         <a class="forma-button course-box__cta__button" title="{{ course.name }}" href="javascript:void(0);"
            rel= {{ course.rel }}>
                                <span class="forma-button__label">
                                    {{ Lang_translate('_SUBSCRIBE', 'course') }}
                                </span>
         </a>

     {% endif %}
 {% endblock %}

{#
if ($is_enrolled ) {
        // 0 only admin
        // 1 moderate
        // 2 free un_subscribe
        switch ($row['auto_unsubscribe']) {
            case 0:
               return Lang::t('_USER_STATUS_ENTER', 'catalogue');
            case 1:
            case 2:
                if (strtotime("now") < strtotime($unsubscribe_date_limit)) {
                    return Lang::t('_UNSUBSCRIBE', 'course');
                } else {
                    return Lang::t('_USER_STATUS_ENTER', 'catalogue');
                }
        }
    } else {
        return Lang::t('_SUBSCRIBE', 'course');
    }
   #}